In [1]:
# task1
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True,inferSchema=True)
df.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999|194.729998|187469100|25.229131|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [10]:
# task2
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv')
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [12]:
#task3
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True,inferSchema=True)
df.show(30)
spark.stop()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999|194.729998|187469100|25.229131|
|2010-02-02|195.909998|196.319994|193.379993|195.859997|174585600|25.375533|
|2010-02-03|195.169994|200.200003|194.420004|199.229994|153832000|25.812149|
|2010-02-04|196.730003|198.370001|191.570005|192.050003|189413000|24.881912|
|2010-02-05|192.630003|     196.0|190.850002|195.460001|212576700| 25.32371|
|2010-02-08|195.690006|197.880003|193.999994|194.119997|119567700|  25.1501|
|2010-02-09|196.419996|197.499994|194.749998|196.190004|158221700|25.418289|
|2010-02-10|195.889997|     196.6|    194.26|195.120007| 92590400| 25.27966|
|2010-02-11|194.880001|199.750006|194.059996|198.669994|137586400|25.739595|
|2010-02-12|198.109995|201.639996|195.500002|200.379993|163867200|25.961142|
|2010-02-16|201.940002|203.690002|201.520006|203.399996|135934400|26.352412|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 30 rows

In [15]:
# task4
from pyspark.sql import  SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
print('column name:',df.columns)
df.show()

column name: ['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']
+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|       196|191.299999|194.729998|187469100|25.229131|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [19]:
# task5
from pyspark.sql import  SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.select('Date','open')
res.show()

+----------+----------+
|      Date|      open|
+----------+----------+
|2010-01-04|213.429998|
|2010-01-05|214.599998|
|2010-01-06|214.379993|
|2010-01-07|    211.75|
|2010-01-08|210.299994|
|2010-01-11|212.799997|
|2010-01-12|209.189995|
|2010-01-13|207.870005|
|2010-01-14|210.110003|
|2010-01-15|210.929995|
|2010-01-19|208.330002|
|2010-01-20|214.910006|
|2010-01-21|212.079994|
|2010-01-22|206.780006|
|2010-01-25|202.510002|
|2010-01-26|205.950001|
|2010-01-27|206.849995|
|2010-01-28|204.930004|
|2010-01-29|201.079996|
|2010-02-01|192.369997|
+----------+----------+
only showing top 20 rows

In [22]:
# task6
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.limit(5)
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
+----------+----------+----------+----------+----------+---------+---------+

In [49]:
# task7
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
row=df.head()
print('the first row:')
print(row)
print()

res=df.head(5)
print('THE FIRST 5 ROWS:')
for i in res:
    print(i)
print()
# dict=res[0].asDict()
# print('the dict of of first rows:')
# print(dict)

for i in res:
    dict=i.asDict()
    print(dict)

the first row:
Row(Date='2010-01-04', Open='213.429998', High='214.499996', Low='212.380001', Close='214.009998', Volume='123432400', Adj Close='27.727039')

THE FIRST 5 ROWS:
Row(Date='2010-01-04', Open='213.429998', High='214.499996', Low='212.380001', Close='214.009998', Volume='123432400', Adj Close='27.727039')
Row(Date='2010-01-05', Open='214.599998', High='215.589994', Low='213.249994', Close='214.379993', Volume='150476200', Adj Close='27.774976')
Row(Date='2010-01-06', Open='214.379993', High='215.23', Low='210.750004', Close='210.969995', Volume='138040000', Adj Close='27.333178')
Row(Date='2010-01-07', Open='211.75', High='212.000006', Low='209.050005', Close='210.58', Volume='119282800', Adj Close='27.28265')
Row(Date='2010-01-08', Open='210.299994', High='212.000006', Low='209.060005', Close='211.980005', Volume='111902700', Adj Close='27.464034')

{'Date': '2010-01-04', 'Open': '213.429998', 'High': '214.499996', 'Low': '212.380001', 'Close': '214.009998', 'Volume': '123432400', 'Adj Close': '27.727039'}
{'Date': '2010-01-05', 'Open': '214.599998', 'High': '215.589994', 'Low': '213.249994', 'Close': '214.379993', 'Volume': '150476200', 'Adj Close': '27.774976'}
{'Date': '2010-01-06', 'Open': '214.379993', 'High': '215.23', 'Low': '210.750004', 'Close': '210.969995', 'Volume': '138040000', 'Adj Close': '27.333178'}
{'Date': '2010-01-07', 'Open': '211.75', 'High': '212.000006', 'Low': '209.050005', 'Close': '210.58', 'Volume': '119282800', 'Adj Close': '27.28265'}
{'Date': '2010-01-08', 'Open': '210.299994', 'High': '212.000006', 'Low': '209.060005', 'Close': '211.980005', 'Volume': '111902700', 'Adj Close': '27.464034'}

In [50]:
# task8
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.count()
print(res)

1762

In [54]:
# task9
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.select('open')
print(res.show())
print()
res1=res.distinct()
res1.show()

+----------+
|      open|
+----------+
|213.429998|
|214.599998|
|214.379993|
|    211.75|
|210.299994|
|212.799997|
|209.189995|
|207.870005|
|210.110003|
|210.929995|
|208.330002|
|214.910006|
|212.079994|
|206.780006|
|202.510002|
|205.950001|
|206.849995|
|204.930004|
|201.079996|
|192.369997|
+----------+
only showing top 20 rows

None

+----------+
|      open|
+----------+
|     118.5|
|134.460007|
|120.800003|
|248.540001|
|232.819988|
| 318.94001|
|491.650024|
|     90.82|
|108.860001|
|267.269989|
| 598.37001|
|540.420006|
| 528.94001|
|542.379997|
|116.550003|
|117.879997|
|111.599998|
|397.029995|
|553.400009|
|519.610023|
+----------+
only showing top 20 rows

In [58]:
# task10
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.select('open')
res.show()
print()
d=res.distinct()
d.show()
d.count()

+----------+
|      open|
+----------+
|213.429998|
|214.599998|
|214.379993|
|    211.75|
|210.299994|
|212.799997|
|209.189995|
|207.870005|
|210.110003|
|210.929995|
|208.330002|
|214.910006|
|212.079994|
|206.780006|
|202.510002|
|205.950001|
|206.849995|
|204.930004|
|201.079996|
|192.369997|
+----------+
only showing top 20 rows


+----------+
|      open|
+----------+
|     118.5|
|134.460007|
|120.800003|
|248.540001|
|232.819988|
| 318.94001|
|491.650024|
|     90.82|
|108.860001|
|267.269989|
| 598.37001|
|540.420006|
| 528.94001|
|542.379997|
|116.550003|
|117.879997|
|111.599998|
|397.029995|
|553.400009|
|519.610023|
+----------+
only showing top 20 rows

1685

In [64]:
# task11
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("CSVExample").getOrCreate()

df = spark.read.csv("Tasks - Apple stock.csv", header=True, inferSchema=True)

range_column = col("High") - col("Low")

df = df.withColumn("Range", range_column)

df = df.select(
    "Date", "Open", "High", "Low", "Range", "Close", "Volume", "Adj Close"
)

df.show()

+----------+----------+----------+----------+------------------+----------+---------+---------+
|      Date|      Open|      High|       Low|             Range|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+------------------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001| 2.119995000000017|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|2.3400000000000034|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|          4.479996|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|2.9500010000000145|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|2.9400010000000236|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|4.5499969999999905|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998| 3.349997000000002|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998| 6.829996999999992|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004| 1.439992999999987|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999| 5.729997999999995|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004| 7.949995000000001|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002| 6.049992000000003|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003| 6.099993000000012|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|10.339996000000014|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|4.5099969999999985|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|11.130000999999993|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|11.049999000000014|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995| 6.800008999999989|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|11.949993000000006|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999| 4.700000999999986|194.729998|187469100|25.229131|
+----------+----------+----------+----------+------------------+----------+---------+---------+
only showing top 20 rows

In [68]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName('myapli').getOrCreate()
df.show()
res=df.select('Date','Open','High','Low',(col('High')-col('Low')).alias('Range'),'Close','Volume','Adj Close')
res.show()

+----------+----------+----------+----------+------------------+----------+---------+---------+
|      Date|      Open|      High|       Low|             Range|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+------------------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001| 2.119995000000017|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|2.3400000000000034|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|          4.479996|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|2.9500010000000145|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|2.9400010000000236|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|4.5499969999999905|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998| 3.349997000000002|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998| 6.829996999999992|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004| 1.439992999999987|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999| 5.729997999999995|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004| 7.949995000000001|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002| 6.049992000000003|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003| 6.099993000000012|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|10.339996000000014|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|4.5099969999999985|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|11.130000999999993|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|11.049999000000014|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995| 6.800008999999989|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|11.949993000000006|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999| 4.700000999999986|194.729998|187469100|25.229131|
+----------+----------+----------+----------+------------------+----------+---------+---------+
only showing top 20 rows

+----------+----------+----------+----------+------------------+----------+---------+---------+
|      Date|      Open|      High|       Low|             Range|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+------------------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001| 2.119995000000017|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|2.3400000000000034|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|          4.479996|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|2.9500010000000145|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|2.9400010000000236|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|4.5499969999999905|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998| 3.349997000000002|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998| 6.829996999999992|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004| 1.439992999999987|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999| 5.729997999999995|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004| 7.949995000000001|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002| 6.049992000000003|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003| 6.099993000000012|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|10.339996000000014|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|4.5099969999999985|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|11.130000999999993|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|11.049999000000014|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995| 6.800008999999989|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|11.949993000000006|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999| 4.700000999999986|194.729998|187469100|25.229131|
+----------+----------+----------+----------+------------------+----------+---------+---------+
only showing top 20 rows

In [76]:
# task12
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
df.show()
res=df.withColumnRenamed('Low','lower')
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|       196|191.299999|194.729998|187469100|25.229131|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|     lower|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|       196|191.299999|194.729998|187469100|25.229131|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [81]:
# task13
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
# res=df.filter(df['High']>500)
res=df.where(df['High']>500)
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2012-02-13|499.529991|503.830009|497.089989|502.600021|129304000|65.116633|
|2012-02-14|504.659988| 509.56002|502.000008|509.459991|115099600|66.005408|
|2012-02-15|514.259995|526.290016|496.889984|497.669975|376530000|64.477899|
|2012-02-16|491.500008|504.890007| 486.62999|502.209999|236138000|65.066102|
|2012-02-17|503.109993| 507.77002|500.299995| 502.12001|133951300|65.054443|
|2012-02-21|506.880013|514.850021|504.120003|514.850021|151398800|66.703738|
|2012-02-22|513.079994|515.489983|509.070023|513.039993|120825600|66.469231|
|2012-02-23|515.079987|517.830009|509.499992|516.389977|142006900|66.903253|
|2012-02-24|519.669998|522.899979|518.640015|522.409981|103768000|67.683203|
|2012-02-27|521.309982|     528.5|516.280014|525.760017|136895500|68.117232|
|2012-02-28|527.960014|535.410011|525.850006|535.410011|150096800|69.367481|
|2012-02-29|541.560005|547.610023|535.700005|542.440025|238002800|70.278286|
|2012-03-01|548.169983|548.209984|538.769981|544.469978|170817500|70.541286|
|2012-03-02|544.240013|546.800018|542.519974|545.180008|107928100|70.633277|
|2012-03-05|545.420013| 547.47998|526.000023|533.160027|202281100|69.075974|
|2012-03-06|523.659996|533.690025|516.219986|530.259987|202559700|68.700246|
|2012-03-07|536.800003|537.779999|523.299988| 530.69001|199630200|68.755959|
|2012-03-08|534.689995|542.989998|532.120003|541.989975|129114300|70.219978|
|2012-03-09|544.209999|547.740013|543.110001|545.170021|104729800|70.631983|
|2012-03-12|548.979988|551.999977|547.000023|551.999977|101820600|71.516869|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [88]:
# task14
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
# res=df.filter((col('High')>500) & (col('Open')<500 ))
# res=df.filter((df.High>500)&(df.Open<500))

res=df.filter('High>500 AND Open<500')
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2012-02-13|499.529991|503.830009|497.089989|502.600021|129304000|65.116633|
|2012-02-16|491.500008|504.890007| 486.62999|502.209999|236138000|65.066102|
|2013-01-16|494.639999|509.440018|492.499977|506.089981|172701200|66.151072|
|2013-01-18|498.519981|502.219986|496.399986|500.000015|118230700|65.355052|
|2013-08-14| 497.88002|504.249992|493.400024|498.500008|189093100|66.408129|
|2013-08-15|496.420013|502.400017|489.079979|497.909981|122573500|66.329528|
|2013-08-27|498.000023|502.509979|486.299995|488.589981|106047200|65.087956|
|2013-09-04|499.560005|502.240013|496.279984|498.690025| 86258200|66.433443|
|2013-10-15|497.510025|502.000008| 495.52002|498.679985| 80018400|66.432105|
|2013-10-17|499.979988|504.779991|499.680008|504.499985| 63398300|67.207422|
|2014-01-31|495.179985|501.529984|493.549988|500.599976|116199300|67.077227|
+----------+----------+----------+----------+----------+---------+---------+

In [95]:
# task15
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.where((df.High>500)&(df.Open<500))
# res=df.where((col('High')>500) & (col('Open')<500 ))

res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2012-02-13|499.529991|503.830009|497.089989|502.600021|129304000|65.116633|
|2012-02-16|491.500008|504.890007| 486.62999|502.209999|236138000|65.066102|
|2013-01-16|494.639999|509.440018|492.499977|506.089981|172701200|66.151072|
|2013-01-18|498.519981|502.219986|496.399986|500.000015|118230700|65.355052|
|2013-08-14| 497.88002|504.249992|493.400024|498.500008|189093100|66.408129|
|2013-08-15|496.420013|502.400017|489.079979|497.909981|122573500|66.329528|
|2013-08-27|498.000023|502.509979|486.299995|488.589981|106047200|65.087956|
|2013-09-04|499.560005|502.240013|496.279984|498.690025| 86258200|66.433443|
|2013-10-15|497.510025|502.000008| 495.52002|498.679985| 80018400|66.432105|
|2013-10-17|499.979988|504.779991|499.680008|504.499985| 63398300|67.207422|
|2014-01-31|495.179985|501.529984|493.549988|500.599976|116199300|67.077227|
+----------+----------+----------+----------+----------+---------+---------+

In [97]:
#task16
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
# res=df.filter(df.High>500).limit(5)
res=df.where(df['High']>500).limit(5)
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2012-02-13|499.529991|503.830009|497.089989|502.600021|129304000|65.116633|
|2012-02-14|504.659988| 509.56002|502.000008|509.459991|115099600|66.005408|
|2012-02-15|514.259995|526.290016|496.889984|497.669975|376530000|64.477899|
|2012-02-16|491.500008|504.890007| 486.62999|502.209999|236138000|65.066102|
|2012-02-17|503.109993| 507.77002|500.299995| 502.12001|133951300|65.054443|
+----------+----------+----------+----------+----------+---------+---------+

In [99]:
#task17
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.filter('High>500 AND Open<500')
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2012-02-13|499.529991|503.830009|497.089989|502.600021|129304000|65.116633|
|2012-02-16|491.500008|504.890007| 486.62999|502.209999|236138000|65.066102|
|2013-01-16|494.639999|509.440018|492.499977|506.089981|172701200|66.151072|
|2013-01-18|498.519981|502.219986|496.399986|500.000015|118230700|65.355052|
|2013-08-14| 497.88002|504.249992|493.400024|498.500008|189093100|66.408129|
|2013-08-15|496.420013|502.400017|489.079979|497.909981|122573500|66.329528|
|2013-08-27|498.000023|502.509979|486.299995|488.589981|106047200|65.087956|
|2013-09-04|499.560005|502.240013|496.279984|498.690025| 86258200|66.433443|
|2013-10-15|497.510025|502.000008| 495.52002|498.679985| 80018400|66.432105|
|2013-10-17|499.979988|504.779991|499.680008|504.499985| 63398300|67.207422|
|2014-01-31|495.179985|501.529984|493.549988|500.599976|116199300|67.077227|
+----------+----------+----------+----------+----------+---------+---------+

In [101]:
# task18
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.filter(df.Low==197.16)
res.show()

+----------+----------+----------+------+------+---------+---------+
|      Date|      Open|      High|   Low| Close|   Volume|Adj Close|
+----------+----------+----------+------+------+---------+---------+
|2010-01-22|206.780006|207.499996|197.16|197.75|220441900|25.620401|
+----------+----------+----------+------+------+---------+---------+

In [103]:
# task19
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.filter((df.Open>200) & ~(df.Close<200))
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-25|202.510002|204.699999|200.190002|203.070002|266424900|26.309658|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-01-27|206.849995|    210.58|199.530001|207.880005|430642100| 26.93284|
|2010-02-16|201.940002|203.690002|201.520006|203.399996|135934400|26.352412|
|2010-02-17|204.190001|204.310003|200.860004|202.550003|109099200|26.242287|
|2010-02-18|201.629995|203.889994|200.920006|202.929998|105706300|26.291519|
|2010-02-19|201.860001|203.200005|201.109997|201.669996|103867400|26.128274|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [110]:
# task20
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.filter(df.Low==197.16).collect()
for i in res:
    print(i)

Row(Date='2010-01-22', Open='206.780006', High='207.499996', Low='197.16', Close='197.75', Volume='220441900', Adj Close='25.620401')

In [108]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
res=df.filter(df.Low==197.16)
res.show()

+----------+----------+----------+------+------+---------+---------+
|      Date|      Open|      High|   Low| Close|   Volume|Adj Close|
+----------+----------+----------+------+------+---------+---------+
|2010-01-22|206.780006|207.499996|197.16|197.75|220441900|25.620401|
+----------+----------+----------+------+------+---------+---------+

In [115]:
# task21
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
# res=df.sort('High',ascending=False)
res=df.sort('High')
res.show()

+----------+----------+----------+---------+----------+---------+---------+
|      Date|      Open|      High|      Low|     Close|   Volume|Adj Close|
+----------+----------+----------+---------+----------+---------+---------+
|2016-07-19| 99.559998|       100|99.339996| 99.870003| 23779900|98.397902|
|2014-09-04| 98.849998|100.089996|97.790001| 98.120003| 85718000|93.563292|
|2014-10-07|     99.43|100.120003|98.730003|     98.75| 42094200|94.164032|
|2016-01-07|     98.68|100.129997|    96.43| 96.449997| 81094400|93.943473|
|2016-07-18| 98.699997|100.129997|98.599998| 99.830002| 36493900|98.358491|
|2014-10-03| 99.440002|100.209999|99.040001| 99.620003| 43469600|94.993631|
|2014-10-02| 99.269997|100.220001|98.040001| 99.900002| 47757800|95.260627|
|2016-05-31| 99.599998|100.400002|    98.82| 99.860001| 42307200|98.388047|
|2014-09-29| 98.650002|100.440002|98.629997|100.110001| 49766300|95.460874|
|2016-07-20|       100|100.459999|99.739998| 99.959999| 26276000|98.486572|
|2016-05-27| 99.440002|100.470001|    99.25|100.349998| 36229500|98.870823|
|2016-01-14| 97.959999|100.480003|95.739998| 99.519997| 63170100| 96.93369|
|2014-10-14|100.389999|100.519997|    98.57|     98.75| 63688600|94.164032|
|2014-10-06| 99.949997|100.650002|99.419998| 99.620003| 37051200|94.993631|
|2014-08-19| 99.410004|    100.68|    99.32|100.529999| 69399000|95.861367|
|2016-01-12|100.550003|100.690002|98.839996| 99.959999| 49154200|97.362258|
|2014-10-01|100.589996|100.690002|98.699997|     99.18| 51491300|94.574063|
|2014-09-25|100.510002|100.709999|97.720001| 97.870003|100092000|93.324902|
|2016-05-26|     99.68|100.730003|98.639999|100.410004| 56331200|98.929943|
|2014-09-26| 98.529999|    100.75|98.400002|    100.75| 62370500|96.071151|
+----------+----------+----------+---------+----------+---------+---------+
only showing top 20 rows

In [116]:
# task22
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
# res=df.sort('High',ascending=False)
res.show()

+----------+----------+----------+---------+----------+---------+---------+
|      Date|      Open|      High|      Low|     Close|   Volume|Adj Close|
+----------+----------+----------+---------+----------+---------+---------+
|2016-07-19| 99.559998|       100|99.339996| 99.870003| 23779900|98.397902|
|2014-09-04| 98.849998|100.089996|97.790001| 98.120003| 85718000|93.563292|
|2014-10-07|     99.43|100.120003|98.730003|     98.75| 42094200|94.164032|
|2016-01-07|     98.68|100.129997|    96.43| 96.449997| 81094400|93.943473|
|2016-07-18| 98.699997|100.129997|98.599998| 99.830002| 36493900|98.358491|
|2014-10-03| 99.440002|100.209999|99.040001| 99.620003| 43469600|94.993631|
|2014-10-02| 99.269997|100.220001|98.040001| 99.900002| 47757800|95.260627|
|2016-05-31| 99.599998|100.400002|    98.82| 99.860001| 42307200|98.388047|
|2014-09-29| 98.650002|100.440002|98.629997|100.110001| 49766300|95.460874|
|2016-07-20|       100|100.459999|99.739998| 99.959999| 26276000|98.486572|
|2016-05-27| 99.440002|100.470001|    99.25|100.349998| 36229500|98.870823|
|2016-01-14| 97.959999|100.480003|95.739998| 99.519997| 63170100| 96.93369|
|2014-10-14|100.389999|100.519997|    98.57|     98.75| 63688600|94.164032|
|2014-10-06| 99.949997|100.650002|99.419998| 99.620003| 37051200|94.993631|
|2014-08-19| 99.410004|    100.68|    99.32|100.529999| 69399000|95.861367|
|2016-01-12|100.550003|100.690002|98.839996| 99.959999| 49154200|97.362258|
|2014-10-01|100.589996|100.690002|98.699997|     99.18| 51491300|94.574063|
|2014-09-25|100.510002|100.709999|97.720001| 97.870003|100092000|93.324902|
|2016-05-26|     99.68|100.730003|98.639999|100.410004| 56331200|98.929943|
|2014-09-26| 98.529999|    100.75|98.400002|    100.75| 62370500|96.071151|
+----------+----------+----------+---------+----------+---------+---------+
only showing top 20 rows

In [133]:
# task23
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc
spark=SparkSession.builder.appName('myapli').getOrCreate()
df=spark.read.csv('Tasks - Sales_info.csv',header=True)
res=df.orderBy(['company','Sales'])
res.select('Company','Sales').show()

+-------+-----+
|Company|Sales|
+-------+-----+
|   APPL|  130|
|   APPL|  250|
|   APPL|  350|
|   APPL|  750|
|     FB|  350|
|     FB|  870|
|   GOOG|  120|
|   GOOG|  200|
|   GOOG|  340|
|   MSFT|  124|
|   MSFT|  243|
|   MSFT|  600|
+-------+-----+

In [36]:
#task24
from pyspark.sql import SparkSession
from pyspark.sql import *

spark=SparkSession.builder.appName('myapli').getOrCreate()
data=[("Alice", 30, "Sales", 5000),
        ("Bob", 25, "Marketing", 7000),
        ("Charlie", 35, "Sales", 6000),
        ("David", 28, "Marketing", 8000)]
col=['name','age','dept','sal']
df=spark.createDataFrame(data,col)
df.show()

temp=df.createOrReplaceTempView('student')
res=spark.sql('SELECT * from stock where age>25')
res.show()
spark.catalog.dropTempView('stock1')
res1=spark.catalog.listTables()
for i in res1:
    print(i.name)

+-------+---+---------+----+
|   name|age|     dept| sal|
+-------+---+---------+----+
|  Alice| 30|    Sales|5000|
|    Bob| 25|Marketing|7000|
|Charlie| 35|    Sales|6000|
|  David| 28|Marketing|8000|
+-------+---+---------+----+

+-------+---+---------+----+
|   name|age|     dept| sal|
+-------+---+---------+----+
|  Alice| 30|    Sales|5000|
|Charlie| 35|    Sales|6000|
|  David| 28|Marketing|8000|
+-------+---+---------+----+

stock
student

In [25]:
#TASK25
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('myapli').getOrCreate()
data=[("Alice", 30, "Sales", 5000),
        ("Bob", 25, "Marketing", 7000),
        ("Charlie", 35, "Sales", 6000),
        ("David", 28, "Marketing", 8000)]
col=['name','age','dept','sal']
df=spark.createDataFrame(data,col)
df.show()
print()
res=df.withColumn('bonus',df.sal*0.1)
res.show()
print()
df=df.orderBy(df.sal,ascending=False)
df.show()
print()
res2=res.groupBy('dept').agg({'sal':'max','bonus':'avg'})
res2.show()
res3=res.select(['name','dept'])
res3.show()

+-------+---+---------+----+
|   name|age|     dept| sal|
+-------+---+---------+----+
|  Alice| 30|    Sales|5000|
|    Bob| 25|Marketing|7000|
|Charlie| 35|    Sales|6000|
|  David| 28|Marketing|8000|
+-------+---+---------+----+


+-------+---+---------+----+-----+
|   name|age|     dept| sal|bonus|
+-------+---+---------+----+-----+
|  Alice| 30|    Sales|5000|500.0|
|    Bob| 25|Marketing|7000|700.0|
|Charlie| 35|    Sales|6000|600.0|
|  David| 28|Marketing|8000|800.0|
+-------+---+---------+----+-----+


+-------+---+---------+----+
|   name|age|     dept| sal|
+-------+---+---------+----+
|  David| 28|Marketing|8000|
|    Bob| 25|Marketing|7000|
|Charlie| 35|    Sales|6000|
|  Alice| 30|    Sales|5000|
+-------+---+---------+----+


+---------+----------+--------+
|     dept|avg(bonus)|max(sal)|
+---------+----------+--------+
|    Sales|     550.0|    6000|
|Marketing|     750.0|    8000|
+---------+----------+--------+

+-------+---------+
|   name|     dept|
+-------+---------+
|  Alice|    Sales|
|    Bob|Marketing|
|Charlie|    Sales|
|  David|Marketing|
+-------+---------+

In [187]:
# sql task1
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
df.show()

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|{{1211587200000}}|Odd Thomas, who c...|   {NULL, 27}|{{1212883200000}}|              Bantam| {1}|           {0}|           ODD HOURS|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|{{1211587200000}}|Aliens have taken...|{25.99, NULL}|{{1212883200000}}|       Little, Brown| {2}|           {1}|            THE HOST|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|{{1211587200000}}|A woman's happy m...|{24.95, NULL}|{{1212883200000}}|        St. Martin's| {3}|           {2}|LOVE THE ONE YOU'...|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1211587200000}}|A Massachusetts s...|{22.95, NULL}|{{1212883200000}}|              Putnam| {4}|           {0}|           THE FRONT|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|{{1211587200000}}|An aging porn que...|{24.95, NULL}|{{1212883200000}}|           Doubleday| {5}|           {0}|               SNUFF|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|{{1211587200000}}|A woman finds an ...|{24.99, NULL}|{{1212883200000}}|       Little, Brown| {6}|           {3}|SUNDAYS AT TIFFANY’S|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       John Sandford|{{1211587200000}}|The Minneapolis d...|{26.95, NULL}|{{1212883200000}}|              Putnam| {7}|           {4}|        PHANTOM PREY|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|{{1211587200000}}|A Southern family...|{21.99, NULL}|{{1212883200000}}|       Little, Brown| {8}|           {6}|          SWINE NOT?|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|{{1211587200000}}|In Cornwall, tryi...|{27.95, NULL}|{{1212883200000}}|              Harper| {9}|           {8}|     CARELESS IN RED|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|{{1211587200000}}|An intelligence a...|{26.99, NULL}|{{1212883200000}}|       Grand Central|{10}|           {7}|     THE WHOLE TRUTH|          {5}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|{{1211587200000}}|The New Jedi orde...|   {NULL, 27}|{{1212883200000}}|  Del Rey/Ballantine|{11}|           {5}|          INVINCIBLE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|          James Frey|{{1211587200000}}|A novel, set in L...|{26.95, NULL}|{{1212883200000}}|              Harper|{12}|           {9}|BRIGHT SHINY MORNING|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|{{1211587200000}}|A Lab-terrier mix...|{23.95, NULL}|{{1212883200000}}|              Harper|{13}|           {0}|THE ART OF RACING...|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1211587200000}}|A widow who owns ...|{24.95, NULL}|{{1212883200000}}|                Mira|{14}|          {10}|       TWENTY WISHES|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|{{1211587200000}}|A novel about the...|   {NULL, 28}|{{1212883200000}}|          Ballantine|{15}|          {11}|      THE STEEL WAVE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|HarperCollins Pub...|{16}|           {0}| EXECUTIVE PRIVILEGE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|{{1211587200000}}|Stories of the an...|    {NULL, 0}|{{1212883200000}}|               Knopf|{17}|           {0}|  UNACCUSTOMED EARTH|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|{{1211587200000}}|A Dutchman desert...|    {NULL, 0}|{{1212883200000}}|Knopf Publishing ...|{18}|           {0}|          NETHERLAND|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        John Grisham|{{1211587200000}}|Political and leg...|    {NULL, 0}|{{1212883200000}}|Doubleday Publishing|{19}|           {0}|          THE APPEAL|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       James Rollins|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|Random House Publ...|{20}|           {0}|INDIANA JONES AND...|          {0}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

In [189]:
# sql task2
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
df.createOrReplaceTempView('stock')
df.show()

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|{{1211587200000}}|Odd Thomas, who c...|   {NULL, 27}|{{1212883200000}}|              Bantam| {1}|           {0}|           ODD HOURS|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|{{1211587200000}}|Aliens have taken...|{25.99, NULL}|{{1212883200000}}|       Little, Brown| {2}|           {1}|            THE HOST|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|{{1211587200000}}|A woman's happy m...|{24.95, NULL}|{{1212883200000}}|        St. Martin's| {3}|           {2}|LOVE THE ONE YOU'...|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1211587200000}}|A Massachusetts s...|{22.95, NULL}|{{1212883200000}}|              Putnam| {4}|           {0}|           THE FRONT|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|{{1211587200000}}|An aging porn que...|{24.95, NULL}|{{1212883200000}}|           Doubleday| {5}|           {0}|               SNUFF|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|{{1211587200000}}|A woman finds an ...|{24.99, NULL}|{{1212883200000}}|       Little, Brown| {6}|           {3}|SUNDAYS AT TIFFANY’S|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       John Sandford|{{1211587200000}}|The Minneapolis d...|{26.95, NULL}|{{1212883200000}}|              Putnam| {7}|           {4}|        PHANTOM PREY|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|{{1211587200000}}|A Southern family...|{21.99, NULL}|{{1212883200000}}|       Little, Brown| {8}|           {6}|          SWINE NOT?|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|{{1211587200000}}|In Cornwall, tryi...|{27.95, NULL}|{{1212883200000}}|              Harper| {9}|           {8}|     CARELESS IN RED|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|{{1211587200000}}|An intelligence a...|{26.99, NULL}|{{1212883200000}}|       Grand Central|{10}|           {7}|     THE WHOLE TRUTH|          {5}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|{{1211587200000}}|The New Jedi orde...|   {NULL, 27}|{{1212883200000}}|  Del Rey/Ballantine|{11}|           {5}|          INVINCIBLE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|          James Frey|{{1211587200000}}|A novel, set in L...|{26.95, NULL}|{{1212883200000}}|              Harper|{12}|           {9}|BRIGHT SHINY MORNING|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|{{1211587200000}}|A Lab-terrier mix...|{23.95, NULL}|{{1212883200000}}|              Harper|{13}|           {0}|THE ART OF RACING...|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1211587200000}}|A widow who owns ...|{24.95, NULL}|{{1212883200000}}|                Mira|{14}|          {10}|       TWENTY WISHES|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|{{1211587200000}}|A novel about the...|   {NULL, 28}|{{1212883200000}}|          Ballantine|{15}|          {11}|      THE STEEL WAVE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|HarperCollins Pub...|{16}|           {0}| EXECUTIVE PRIVILEGE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|{{1211587200000}}|Stories of the an...|    {NULL, 0}|{{1212883200000}}|               Knopf|{17}|           {0}|  UNACCUSTOMED EARTH|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|{{1211587200000}}|A Dutchman desert...|    {NULL, 0}|{{1212883200000}}|Knopf Publishing ...|{18}|           {0}|          NETHERLAND|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        John Grisham|{{1211587200000}}|Political and leg...|    {NULL, 0}|{{1212883200000}}|Doubleday Publishing|{19}|           {0}|          THE APPEAL|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       James Rollins|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|Random House Publ...|{20}|           {0}|INDIANA JONES AND...|          {0}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

In [16]:
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("AppleStockAnalysis").getOrCreate()

# Read the CSV file into a DataFrame
csv_file_path = "Dataframe_sql.json"  # Replace with the actual path to your CSV file
df = spark.read.json(csv_file_path)

# Create a temporary view named "stock"
df.createOrReplaceTempView("stock")

# Show the DataFrame
df.show()
temp_view=spark.catalog.listTables()
if 'stock' in [temp.name for temp in temp_view]:
    print('name stock exisit in tmpview')
else:
    print('name stock doenst exisit')
res=[i.name for i in temp_view]
print(res)

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|{{1211587200000}}|Odd Thomas, who c...|   {NULL, 27}|{{1212883200000}}|              Bantam| {1}|           {0}|           ODD HOURS|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|{{1211587200000}}|Aliens have taken...|{25.99, NULL}|{{1212883200000}}|       Little, Brown| {2}|           {1}|            THE HOST|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|{{1211587200000}}|A woman's happy m...|{24.95, NULL}|{{1212883200000}}|        St. Martin's| {3}|           {2}|LOVE THE ONE YOU'...|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1211587200000}}|A Massachusetts s...|{22.95, NULL}|{{1212883200000}}|              Putnam| {4}|           {0}|           THE FRONT|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|{{1211587200000}}|An aging porn que...|{24.95, NULL}|{{1212883200000}}|           Doubleday| {5}|           {0}|               SNUFF|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|{{1211587200000}}|A woman finds an ...|{24.99, NULL}|{{1212883200000}}|       Little, Brown| {6}|           {3}|SUNDAYS AT TIFFANY’S|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       John Sandford|{{1211587200000}}|The Minneapolis d...|{26.95, NULL}|{{1212883200000}}|              Putnam| {7}|           {4}|        PHANTOM PREY|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|{{1211587200000}}|A Southern family...|{21.99, NULL}|{{1212883200000}}|       Little, Brown| {8}|           {6}|          SWINE NOT?|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|{{1211587200000}}|In Cornwall, tryi...|{27.95, NULL}|{{1212883200000}}|              Harper| {9}|           {8}|     CARELESS IN RED|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|{{1211587200000}}|An intelligence a...|{26.99, NULL}|{{1212883200000}}|       Grand Central|{10}|           {7}|     THE WHOLE TRUTH|          {5}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|{{1211587200000}}|The New Jedi orde...|   {NULL, 27}|{{1212883200000}}|  Del Rey/Ballantine|{11}|           {5}|          INVINCIBLE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|          James Frey|{{1211587200000}}|A novel, set in L...|{26.95, NULL}|{{1212883200000}}|              Harper|{12}|           {9}|BRIGHT SHINY MORNING|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|{{1211587200000}}|A Lab-terrier mix...|{23.95, NULL}|{{1212883200000}}|              Harper|{13}|           {0}|THE ART OF RACING...|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1211587200000}}|A widow who owns ...|{24.95, NULL}|{{1212883200000}}|                Mira|{14}|          {10}|       TWENTY WISHES|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|{{1211587200000}}|A novel about the...|   {NULL, 28}|{{1212883200000}}|          Ballantine|{15}|          {11}|      THE STEEL WAVE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|HarperCollins Pub...|{16}|           {0}| EXECUTIVE PRIVILEGE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|{{1211587200000}}|Stories of the an...|    {NULL, 0}|{{1212883200000}}|               Knopf|{17}|           {0}|  UNACCUSTOMED EARTH|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|{{1211587200000}}|A Dutchman desert...|    {NULL, 0}|{{1212883200000}}|Knopf Publishing ...|{18}|           {0}|          NETHERLAND|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        John Grisham|{{1211587200000}}|Political and leg...|    {NULL, 0}|{{1212883200000}}|Doubleday Publishing|{19}|           {0}|          THE APPEAL|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       James Rollins|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|Random House Publ...|{20}|           {0}|INDIANA JONES AND...|          {0}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

name stock exisit in tmpview
['stock']

In [192]:
# sql task3
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
df.createOrReplaceTempView('stock')
res=spark.sql('select * from stock where Low>200')
res.show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800| 27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|27.464034|
|2010-01-11|212.799997|213.000002|208.450005|210.110003|115557400|27.221758|
|2010-01-12|209.189995|209.769995|206.419998|207.720001|148614900| 26.91211|
|2010-01-13|207.870005|210.929995|204.099998|210.650002|151473000| 27.29172|
|2010-01-14|210.110003|210.459997|209.020004|    209.43|108223500|27.133657|
|2010-01-15|210.929995|211.599997|205.869999|    205.93|148516900|26.680198|
|2010-01-19|208.330002|215.189999|207.240004|215.039995|182501900|27.860485|
|2010-01-20|214.910006|215.549994|209.500002|    211.73|153038200|27.431644|
|2010-01-21|212.079994|213.309996|207.210003|208.069996|152038600|26.957455|
|2010-01-26|205.950001|213.710005|202.580004|205.940001|466777500|26.681494|
|2010-02-16|201.940002|203.690002|201.520006|203.399996|135934400|26.352412|
|2010-02-19|201.860001|203.200005|201.109997|201.669996|103867400|26.128274|
|2010-02-26|202.379999|205.169996|202.000004|204.619997|126865200|26.510475|
|2010-03-01|205.749996|209.500002|205.450003|208.990004|137523400|27.076651|
|2010-03-02|209.929998|210.830006|207.740002|    208.85|141636600|27.058512|
|2010-03-03|208.940002|209.869997|207.940006|209.329998| 93013200|27.120701|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 20 rows

In [27]:
# sql task4
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.csv('Tasks - Apple stock.csv',header=True)
df.createOrReplaceTempView('stock')
res=spark.sql('select count(*) from stock where Close>500')
res.show()

+--------+
|count(1)|
+--------+
|     400|
+--------+

In [28]:
# sql task5
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.dropDuplicates()
res.show()

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+----------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|       publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+----------------+----+--------------+--------------------+-------------+
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Daniel Silva|{{1217030400000}}|Gabriel Allon, an...|{26.95, NULL}|{{1218326400000}}|          Putnam| {1}|           {0}|  THE SECRET SERVANT|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|          Jane Green|{{1218240000000}}|A woman’s life ch...|    {NULL, 0}|{{1219536000000}}|          Viking|{18}|           {0}|     THE BEACH HOUSE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|            J D Robb|{{1226102400000}}|Lt. Eve Dallas in...|{25.95, NULL}|{{1227398400000}}|          Putnam| {2}|           {0}|  SALVATION IN DEATH|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Toni Morrison|{{1226707200000}}|In 17th-century A...|{23.95, NULL}|{{1228003200000}}|           Knopf| {5}|           {0}|             A MERCY|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Nicholas Sparks|{{1232150400000}}|A Marine returnin...|    {NULL, 0}|{{1233446400000}}|   Grand Central|{16}|           {0}|       THE LUCKY ONE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|           Brad Thor|{{1217030400000}}|Scot Harvath, a H...|   {NULL, 26}|{{1218326400000}}|           Atria| {5}|           {5}|    THE LAST PATRIOT|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    David Wroblewski|{{1218844800000}}|A mute takes refu...|{25.95, NULL}|{{1220140800000}}|            Ecco| {7}|           {6}|THE STORY OF EDGA...|         {10}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    David Wroblewski|{{1219449600000}}|A mute takes refu...|{25.95, NULL}|{{1220745600000}}|            Ecco| {8}|           {7}|THE STORY OF EDGA...|         {11}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1224288000000}}|A pregnant woman ...|{16.95, NULL}|{{1225584000000}}|            Mira|{14}|          {13}|A CEDAR COVE CHRI...|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Linda Lael Miller|{{1225497600000}}|                    |    {NULL, 0}|{{1226793600000}}|             HQN|{18}|           {0}|A MCKETTRICK CHRI...|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|Mary Ann Shaffer ...|{{1233964800000}}|A journalist trav...|   {NULL, 22}|{{1235260800000}}|            Dial| {8}|           {9}|THE GUERNSEY LITE...|         {21}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|Clive Cussler wit...|{{1212796800000}}|Juan Cabrillo and...|{26.95, NULL}|{{1214092800000}}|          Putnam| {3}|           {0}|         PLAGUE SHIP|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Dennis Lehane|{{1223078400000}}|A policeman, a fu...|{27.95, NULL}|{{1224374400000}}|          Morrow| {9}|           {3}|       THE GIVEN DAY|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Stephen King|{{1226707200000}}|Short stories ble...|   {NULL, 28}|{{1228003200000}}|        Scribner| {2}|           {0}|   JUST AFTER SUNSET|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1229731200000}}|The forensic path...|{27.95, NULL}|{{1231027200000}}|          Putnam| {2}|           {1}|           SCARPETTA|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      Faye Kellerman|{{1218844800000}}|Decker and Lazaru...|{25.95, NULL}|{{1220140800000}}|          Morrow| {8}|           {0}| THE MERCEDES COFFIN|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     James Patterson|{{1230940800000}}|Alex Cross chases...|{27.99, NULL}|{{1232236800000}}|   Little, Brown| {4}|           {2}|       CROSS COUNTRY|          {7}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Stieg Larsson|{{1231545600000}}|A hacker and a jo...|    {NULL, 0}|{{1232841600000}}|           Knopf|{18}|           {0}|THE GIRL WITH THE...|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Lauren Weisberger|{{1214611200000}}|Three glamorous f...|{25.95, NULL}|{{1215907200000}}|Simon & Schuster| {8}|           {4}|CHASING HARRY WIN...|          {5}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Janet Evanovich|{{1215820800000}}|Stephanie Plum an...|{27.95, NULL}|{{1217116800000}}|    St. Martin’s| {2}|           {2}|   FEARLESS FOURTEEN|          {4}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+----------------+----+--------------+--------------------+-------------+
only showing top 20 rows

In [193]:
# sql task6
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
df.show()
res=df.distinct().count()
print(res)

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|{{1211587200000}}|Odd Thomas, who c...|   {NULL, 27}|{{1212883200000}}|              Bantam| {1}|           {0}|           ODD HOURS|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|{{1211587200000}}|Aliens have taken...|{25.99, NULL}|{{1212883200000}}|       Little, Brown| {2}|           {1}|            THE HOST|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|{{1211587200000}}|A woman's happy m...|{24.95, NULL}|{{1212883200000}}|        St. Martin's| {3}|           {2}|LOVE THE ONE YOU'...|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1211587200000}}|A Massachusetts s...|{22.95, NULL}|{{1212883200000}}|              Putnam| {4}|           {0}|           THE FRONT|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|{{1211587200000}}|An aging porn que...|{24.95, NULL}|{{1212883200000}}|           Doubleday| {5}|           {0}|               SNUFF|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|{{1211587200000}}|A woman finds an ...|{24.99, NULL}|{{1212883200000}}|       Little, Brown| {6}|           {3}|SUNDAYS AT TIFFANY’S|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       John Sandford|{{1211587200000}}|The Minneapolis d...|{26.95, NULL}|{{1212883200000}}|              Putnam| {7}|           {4}|        PHANTOM PREY|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|{{1211587200000}}|A Southern family...|{21.99, NULL}|{{1212883200000}}|       Little, Brown| {8}|           {6}|          SWINE NOT?|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|{{1211587200000}}|In Cornwall, tryi...|{27.95, NULL}|{{1212883200000}}|              Harper| {9}|           {8}|     CARELESS IN RED|          {3}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|{{1211587200000}}|An intelligence a...|{26.99, NULL}|{{1212883200000}}|       Grand Central|{10}|           {7}|     THE WHOLE TRUTH|          {5}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|{{1211587200000}}|The New Jedi orde...|   {NULL, 27}|{{1212883200000}}|  Del Rey/Ballantine|{11}|           {5}|          INVINCIBLE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|          James Frey|{{1211587200000}}|A novel, set in L...|{26.95, NULL}|{{1212883200000}}|              Harper|{12}|           {9}|BRIGHT SHINY MORNING|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|{{1211587200000}}|A Lab-terrier mix...|{23.95, NULL}|{{1212883200000}}|              Harper|{13}|           {0}|THE ART OF RACING...|          {1}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1211587200000}}|A widow who owns ...|{24.95, NULL}|{{1212883200000}}|                Mira|{14}|          {10}|       TWENTY WISHES|          {4}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|{{1211587200000}}|A novel about the...|   {NULL, 28}|{{1212883200000}}|          Ballantine|{15}|          {11}|      THE STEEL WAVE|          {2}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|HarperCollins Pub...|{16}|           {0}| EXECUTIVE PRIVILEGE|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|{{1211587200000}}|Stories of the an...|    {NULL, 0}|{{1212883200000}}|               Knopf|{17}|           {0}|  UNACCUSTOMED EARTH|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|{{1211587200000}}|A Dutchman desert...|    {NULL, 0}|{{1212883200000}}|Knopf Publishing ...|{18}|           {0}|          NETHERLAND|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|        John Grisham|{{1211587200000}}|Political and leg...|    {NULL, 0}|{{1212883200000}}|Doubleday Publishing|{19}|           {0}|          THE APPEAL|          {0}|
|           NULL|{5b4aa4ead3089013...|http://www.amazon...|       James Rollins|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|Random House Publ...|{20}|           {0}|INDIANA JONES AND...|          {0}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

900

In [114]:
# sql task6
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.fillna('man') #for entire table
# res=df.fillna(0,subset=['Open'])#for specific col
res.show()

+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|_corrupt_record|                 _id|  amazon_product_url|              author| bestsellers_date|         description|        price|   published_date|           publisher|rank|rank_last_week|               title|weeks_on_list|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
|            man|{5b4aa4ead3089013...|http://www.amazon...|       Dean R Koontz|{{1211587200000}}|Odd Thomas, who c...|   {NULL, 27}|{{1212883200000}}|              Bantam| {1}|           {0}|           ODD HOURS|          {1}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|     Stephenie Meyer|{{1211587200000}}|Aliens have taken...|{25.99, NULL}|{{1212883200000}}|       Little, Brown| {2}|           {1}|            THE HOST|          {3}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|        Emily Giffin|{{1211587200000}}|A woman's happy m...|{24.95, NULL}|{{1212883200000}}|        St. Martin's| {3}|           {2}|LOVE THE ONE YOU'...|          {2}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|   Patricia Cornwell|{{1211587200000}}|A Massachusetts s...|{22.95, NULL}|{{1212883200000}}|              Putnam| {4}|           {0}|           THE FRONT|          {1}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|     Chuck Palahniuk|{{1211587200000}}|An aging porn que...|{24.95, NULL}|{{1212883200000}}|           Doubleday| {5}|           {0}|               SNUFF|          {1}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|James Patterson a...|{{1211587200000}}|A woman finds an ...|{24.99, NULL}|{{1212883200000}}|       Little, Brown| {6}|           {3}|SUNDAYS AT TIFFANY’S|          {4}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|       John Sandford|{{1211587200000}}|The Minneapolis d...|{26.95, NULL}|{{1212883200000}}|              Putnam| {7}|           {4}|        PHANTOM PREY|          {3}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|       Jimmy Buffett|{{1211587200000}}|A Southern family...|{21.99, NULL}|{{1212883200000}}|       Little, Brown| {8}|           {6}|          SWINE NOT?|          {2}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|    Elizabeth George|{{1211587200000}}|In Cornwall, tryi...|{27.95, NULL}|{{1212883200000}}|              Harper| {9}|           {8}|     CARELESS IN RED|          {3}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|      David Baldacci|{{1211587200000}}|An intelligence a...|{26.99, NULL}|{{1212883200000}}|       Grand Central|{10}|           {7}|     THE WHOLE TRUTH|          {5}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|        Troy Denning|{{1211587200000}}|The New Jedi orde...|   {NULL, 27}|{{1212883200000}}|  Del Rey/Ballantine|{11}|           {5}|          INVINCIBLE|          {2}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|          James Frey|{{1211587200000}}|A novel, set in L...|{26.95, NULL}|{{1212883200000}}|              Harper|{12}|           {9}|BRIGHT SHINY MORNING|          {2}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|         Garth Stein|{{1211587200000}}|A Lab-terrier mix...|{23.95, NULL}|{{1212883200000}}|              Harper|{13}|           {0}|THE ART OF RACING...|          {1}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|     Debbie Macomber|{{1211587200000}}|A widow who owns ...|{24.95, NULL}|{{1212883200000}}|                Mira|{14}|          {10}|       TWENTY WISHES|          {4}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|         Jeff Shaara|{{1211587200000}}|A novel about the...|   {NULL, 28}|{{1212883200000}}|          Ballantine|{15}|          {11}|      THE STEEL WAVE|          {2}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|    Phillip Margolin|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|HarperCollins Pub...|{16}|           {0}| EXECUTIVE PRIVILEGE|          {0}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|       Jhumpa Lahiri|{{1211587200000}}|Stories of the an...|    {NULL, 0}|{{1212883200000}}|               Knopf|{17}|           {0}|  UNACCUSTOMED EARTH|          {0}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|      Joseph O'Neill|{{1211587200000}}|A Dutchman desert...|    {NULL, 0}|{{1212883200000}}|Knopf Publishing ...|{18}|           {0}|          NETHERLAND|          {0}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|        John Grisham|{{1211587200000}}|Political and leg...|    {NULL, 0}|{{1212883200000}}|Doubleday Publishing|{19}|           {0}|          THE APPEAL|          {0}|
|            man|{5b4aa4ead3089013...|http://www.amazon...|       James Rollins|{{1211587200000}}|                    |    {NULL, 0}|{{1212883200000}}|Random House Publ...|{20}|           {0}|INDIANA JONES AND...|          {0}|
+---------------+--------------------+--------------------+--------------------+-----------------+--------------------+-------------+-----------------+--------------------+----+--------------+--------------------+-------------+
only showing top 20 rows

In [17]:
# task7 replacing one val with another
from pyspark.sql import SparkSession
from pyspark.sql.functions import when,col 
spark=SparkSession.builder.appName('apli').getOrCreate()
data=[('ram',23),('sham',25),('unkn',35),('unkn',24)]
col=['name','age']
df=spark.createDataFrame(data,col)
df.show()
print()
# res=df.withColumn('name',when(df.name=='unkn','anonymous').otherwise('name'))
# res=df.replace('unkn','manmith','name')
# res=df.withColumn('name',when((df.name=='unkn')&(df.age==35),'manmith').otherwise(df.name))
res=df.replace('unkn','manmith')

res.show()

+----+---+
|name|age|
+----+---+
| ram| 23|
|sham| 25|
|unkn| 35|
|unkn| 24|
+----+---+


+-------+---+
|   name|age|
+-------+---+
|    ram| 23|
|   sham| 25|
|manmith| 35|
|manmith| 24|
+-------+---+

In [34]:
#task8
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.select('title','author','rank','price')
res.show()

+--------------------+--------------------+----+-------------+
|               title|              author|rank|        price|
+--------------------+--------------------+----+-------------+
|           ODD HOURS|       Dean R Koontz| {1}|   {NULL, 27}|
|            THE HOST|     Stephenie Meyer| {2}|{25.99, NULL}|
|LOVE THE ONE YOU'...|        Emily Giffin| {3}|{24.95, NULL}|
|           THE FRONT|   Patricia Cornwell| {4}|{22.95, NULL}|
|               SNUFF|     Chuck Palahniuk| {5}|{24.95, NULL}|
|SUNDAYS AT TIFFANY’S|James Patterson a...| {6}|{24.99, NULL}|
|        PHANTOM PREY|       John Sandford| {7}|{26.95, NULL}|
|          SWINE NOT?|       Jimmy Buffett| {8}|{21.99, NULL}|
|     CARELESS IN RED|    Elizabeth George| {9}|{27.95, NULL}|
|     THE WHOLE TRUTH|      David Baldacci|{10}|{26.99, NULL}|
|          INVINCIBLE|        Troy Denning|{11}|   {NULL, 27}|
|BRIGHT SHINY MORNING|          James Frey|{12}|{26.95, NULL}|
|THE ART OF RACING...|         Garth Stein|{13}|{23.95, NULL}|
|       TWENTY WISHES|     Debbie Macomber|{14}|{24.95, NULL}|
|      THE STEEL WAVE|         Jeff Shaara|{15}|   {NULL, 28}|
| EXECUTIVE PRIVILEGE|    Phillip Margolin|{16}|    {NULL, 0}|
|  UNACCUSTOMED EARTH|       Jhumpa Lahiri|{17}|    {NULL, 0}|
|          NETHERLAND|      Joseph O'Neill|{18}|    {NULL, 0}|
|          THE APPEAL|        John Grisham|{19}|    {NULL, 0}|
|INDIANA JONES AND...|       James Rollins|{20}|    {NULL, 0}|
+--------------------+--------------------+----+-------------+
only showing top 20 rows

In [210]:
#sql task9
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("TitleClassifier").getOrCreate()

df = spark.read.json("Dataframe_sql.json")
condition=(col('title')=='ODD HOURS').cast('int')
res=df.withColumn('label',condition)
res1=res.select('title','label')
res1.show(truncate=False)

+--------------------------------------------------+-----+
|title                                             |label|
+--------------------------------------------------+-----+
|ODD HOURS                                         |1    |
|THE HOST                                          |0    |
|LOVE THE ONE YOU'RE WITH                          |0    |
|THE FRONT                                         |0    |
|SNUFF                                             |0    |
|SUNDAYS AT TIFFANY’S                              |0    |
|PHANTOM PREY                                      |0    |
|SWINE NOT?                                        |0    |
|CARELESS IN RED                                   |0    |
|THE WHOLE TRUTH                                   |0    |
|INVINCIBLE                                        |0    |
|BRIGHT SHINY MORNING                              |0    |
|THE ART OF RACING IN THE RAIN                     |0    |
|TWENTY WISHES                                     |0    |
|THE STEEL WAVE                                    |0    |
|EXECUTIVE PRIVILEGE                               |0    |
|UNACCUSTOMED EARTH                                |0    |
|NETHERLAND                                        |0    |
|THE APPEAL                                        |0    |
|INDIANA JONES AND THE KINGDOM OF THE CRYSTAL SKULL|0    |
+--------------------------------------------------+-----+
only showing top 20 rows

In [215]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,when

# Initialize Spark session
spark = SparkSession.builder.appName("TitleClassifier").getOrCreate()

# Read JSON data
df = spark.read.json("Dataframe_sql.json")

res=df.withColumn('label',when(col('title')=='ODD HOURS',1).otherwise(0))
res1=res.select('title','label')
res1.show(truncate=False)

+--------------------------------------------------+-----+
|title                                             |label|
+--------------------------------------------------+-----+
|ODD HOURS                                         |1    |
|THE HOST                                          |0    |
|LOVE THE ONE YOU'RE WITH                          |0    |
|THE FRONT                                         |0    |
|SNUFF                                             |0    |
|SUNDAYS AT TIFFANY’S                              |0    |
|PHANTOM PREY                                      |0    |
|SWINE NOT?                                        |0    |
|CARELESS IN RED                                   |0    |
|THE WHOLE TRUTH                                   |0    |
|INVINCIBLE                                        |0    |
|BRIGHT SHINY MORNING                              |0    |
|THE ART OF RACING IN THE RAIN                     |0    |
|TWENTY WISHES                                     |0    |
|THE STEEL WAVE                                    |0    |
|EXECUTIVE PRIVILEGE                               |0    |
|UNACCUSTOMED EARTH                                |0    |
|NETHERLAND                                        |0    |
|THE APPEAL                                        |0    |
|INDIANA JONES AND THE KINGDOM OF THE CRYSTAL SKULL|0    |
+--------------------------------------------------+-----+
only showing top 20 rows

In [37]:
# task10
from pyspark.sql import SparkSession
from pyspark.sql.functions import col


spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
# res=df.filter(df.author.isin(['John Sandford', 'Emily Giffin']))
res=df.filter(col('author').isin(['John Sandford', 'Emily Giffin']))
res.show(truncate=False)

+---------------+--------------------------+---------------------------------------------------------------------------------+-------------+-----------------+------------------------------------------------------------------------------------------+-------------+-----------------+------------+----+--------------+------------------------+-------------+
|_corrupt_record|_id                       |amazon_product_url                                                               |author       |bestsellers_date |description                                                                               |price        |published_date   |publisher   |rank|rank_last_week|title                   |weeks_on_list|
+---------------+--------------------------+---------------------------------------------------------------------------------+-------------+-----------------+------------------------------------------------------------------------------------------+-------------+-----------------+------------+----+--------------+------------------------+-------------+
|NULL           |{5b4aa4ead3089013507db18d}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1211587200000}}|A woman's happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1212883200000}}|St. Martin's|{3} |{2}           |LOVE THE ONE YOU'RE WITH|{2}          |
|NULL           |{5b4aa4ead3089013507db191}|http://www.amazon.com/Phantom-Prey-John-Sandford/dp/0425227987?tag=NYTBS-20      |John Sandford|{{1211587200000}}|The Minneapolis detective Lucas Davenport investigates a string of murders of young Goths.|{26.95, NULL}|{{1212883200000}}|Putnam      |{7} |{4}           |PHANTOM PREY            |{3}          |
|NULL           |{5b4aa4ead3089013507db1a2}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1212192000000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1213488000000}}|St. Martin’s|{4} |{3}           |LOVE THE ONE YOU'RE WITH|{3}          |
|NULL           |{5b4aa4ead3089013507db1a7}|http://www.amazon.com/Phantom-Prey-John-Sandford/dp/0425227987?tag=NYTBS-20      |John Sandford|{{1212192000000}}|The Minneapolis detective Lucas Davenport investigates a string of murders of young Goths.|{26.95, NULL}|{{1213488000000}}|Putnam      |{9} |{7}           |PHANTOM PREY            |{4}          |
|NULL           |{5b4aa4ead3089013507db1b6}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1212796800000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1214092800000}}|St. Martin’s|{4} |{4}           |LOVE THE ONE YOU'RE WITH|{4}          |
|NULL           |{5b4aa4ead3089013507db1be}|http://www.amazon.com/Phantom-Prey-John-Sandford/dp/0425227987?tag=NYTBS-20      |John Sandford|{{1212796800000}}|The Minneapolis detective Lucas Davenport investigates a string of murders of young Goths.|{26.95, NULL}|{{1214092800000}}|Putnam      |{12}|{9}           |PHANTOM PREY            |{5}          |
|NULL           |{5b4aa4ead3089013507db1cb}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1213401600000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1214697600000}}|St. Martin’s|{5} |{4}           |LOVE THE ONE YOU'RE WITH|{5}          |
|NULL           |{5b4aa4ead3089013507db1df}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1214006400000}}|A woman’s happy marriage is shaken.                                                       |{24.95, NULL}|{{1215302400000}}|St. Martin’s|{5} |{5}           |LOVE THE ONE YOU'RE WITH|{6}          |
|NULL           |{5b4aa4ead3089013507db1ee}|http://www.amazon.com/Phantom-Prey-John-Sandford/dp/0425227987?tag=NYTBS-20      |John Sandford|{{1214006400000}}|The Minneapolis detective Lucas Davenport investigates a string of murders of young Goths.|{NULL, 0}    |{{1215302400000}}|Putnam      |{20}|{0}           |PHANTOM PREY            |{0}          |
|NULL           |{5b4aa4ead3089013507db1f8}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1214611200000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1215907200000}}|St. Martin’s|{10}|{5}           |LOVE THE ONE YOU'RE WITH|{7}          |
|NULL           |{5b4aa4ead3089013507db20d}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1215216000000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1216512000000}}|St. Martin’s|{11}|{10}          |LOVE THE ONE YOU'RE WITH|{8}          |
|NULL           |{5b4aa4ead3089013507db220}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1215820800000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1217116800000}}|St. Martin’s|{10}|{11}          |LOVE THE ONE YOU'RE WITH|{9}          |
|NULL           |{5b4aa4ead3089013507db237}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1216425600000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1217721600000}}|St. Martin’s|{13}|{10}          |LOVE THE ONE YOU'RE WITH|{10}         |
|NULL           |{5b4aa4ead3089013507db24d}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1217030400000}}|A woman’s happy marriage is shaken when she encounters an old boyfriend.                  |{24.95, NULL}|{{1218326400000}}|St. Martin’s|{15}|{13}          |LOVE THE ONE YOU'RE WITH|{11}         |
|NULL           |{5b4aa4ead3089013507db260}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1217635200000}}|A woman encounters an old boyfriend.                                                      |{24.95, NULL}|{{1218931200000}}|St. Martin’s|{14}|{15}          |LOVE THE ONE YOU'RE WITH|{12}         |
|NULL           |{5b4aa4ead3089013507db273}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1218240000000}}|A woman encounters an old boyfriend.                                                      |{24.95, NULL}|{{1219536000000}}|St. Martin’s|{13}|{14}          |LOVE THE ONE YOU'RE WITH|{13}         |
|NULL           |{5b4aa4ead3089013507db289}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1218844800000}}|A woman encounters an old boyfriend.                                                      |{24.95, NULL}|{{1220140800000}}|St. Martin’s|{15}|{13}          |LOVE THE ONE YOU'RE WITH|{14}         |
|NULL           |{5b4aa4ead3089013507db2a0}|http://www.amazon.com/Love-Youre-With-Emily-Giffin/dp/0312348665?tag=NYTBS-20    |Emily Giffin |{{1219449600000}}|A woman's happy marriage is shaken when she encounters an old boyfriend.                  |{NULL, 0}    |{{1220745600000}}|St. Martin’s|{18}|{0}           |LOVE THE ONE YOU'RE WITH|{0}          |
|NULL           |{5b4aa4ead3089013507db2f4}|http://www.amazon.com/Heat-Lightning-Virgil-Flowers-No/dp/0425230619?tag=NYTBS-20|John Sandford|{{1222473600000}}|Virgil Flowers investigates murder cases linked by a lemon in the mouth of each victim.   |{26.95, NULL}|{{1223769600000}}|Putnam      |{2} |{0}           |HEAT LIGHTNING          |{1}          |
|NULL           |{5b4aa4ead3089013507db30a}|http://www.amazon.com/Heat-Lightning-Virgil-Flowers-No/dp/0425230619?tag=NYTBS-20|John Sandford|{{1223078400000}}|Virgil Flowers investigates murder cases linked by a lemon in the mouth of each victim.   |{26.95, NULL}|{{1224374400000}}|Putnam      |{4} |{2}           |HEAT LIGHTNING          |{2}          |
+---------------+--------------------------+---------------------------------------------------------------------------------+-------------+-----------------+------------------------------------------------------------------------------------------+-------------+-----------------+------------+----+--------------+------------------------+-------------+
only showing top 20 rows

In [5]:
# task11
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res = df.filter(df.title.like("%THE%"))

# Select and display the relevant columns
result = res.select("author", "title")
result.show(truncate=False)

+-----------------+--------------------------------------------------+
|author           |title                                             |
+-----------------+--------------------------------------------------+
|Stephenie Meyer  |THE HOST                                          |
|Emily Giffin     |LOVE THE ONE YOU'RE WITH                          |
|Patricia Cornwell|THE FRONT                                         |
|David Baldacci   |THE WHOLE TRUTH                                   |
|Garth Stein      |THE ART OF RACING IN THE RAIN                     |
|Jeff Shaara      |THE STEEL WAVE                                    |
|Joseph O'Neill   |NETHERLAND                                        |
|John Grisham     |THE APPEAL                                        |
|James Rollins    |INDIANA JONES AND THE KINGDOM OF THE CRYSTAL SKULL|
|Stephenie Meyer  |THE HOST                                          |
|Emily Giffin     |LOVE THE ONE YOU'RE WITH                          |
|Patricia Cornwell|THE FRONT                                         |
|David Baldacci   |THE WHOLE TRUTH                                   |
|Garth Stein      |THE ART OF RACING IN THE RAIN                     |
|Salman Rushdie   |THE ENCHANTRESS OF FLORENCE                       |
|Stephenie Meyer  |THE HOST                                          |
|Emily Giffin     |LOVE THE ONE YOU'RE WITH                          |
|Patricia Cornwell|THE FRONT                                         |
|Garth Stein      |THE ART OF RACING IN THE RAIN                     |
|Alan Furst       |THE SPIES OF WARSAW                               |
+-----------------+--------------------------------------------------+
only showing top 20 rows

In [7]:
# task12
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.filter(df.title.like('THE%'))
res1=res.select('author','title')
res1.show(truncate=False)

+-----------------+-----------------------------+
|author           |title                        |
+-----------------+-----------------------------+
|Stephenie Meyer  |THE HOST                     |
|Patricia Cornwell|THE FRONT                    |
|David Baldacci   |THE WHOLE TRUTH              |
|Garth Stein      |THE ART OF RACING IN THE RAIN|
|Jeff Shaara      |THE STEEL WAVE               |
|John Grisham     |THE APPEAL                   |
|Stephenie Meyer  |THE HOST                     |
|Patricia Cornwell|THE FRONT                    |
|David Baldacci   |THE WHOLE TRUTH              |
|Garth Stein      |THE ART OF RACING IN THE RAIN|
|Salman Rushdie   |THE ENCHANTRESS OF FLORENCE  |
|Stephenie Meyer  |THE HOST                     |
|Patricia Cornwell|THE FRONT                    |
|Garth Stein      |THE ART OF RACING IN THE RAIN|
|Alan Furst       |THE SPIES OF WARSAW          |
|Andre Dubus      |THE GARDEN OF LAST DAYS      |
|Salman Rushdie   |THE ENCHANTRESS OF FLORENCE  |
|Stephenie Meyer  |THE HOST                     |
|Jeffery Deaver   |THE BROKEN WINDOW            |
|Garth Stein      |THE ART OF RACING IN THE RAIN|
+-----------------+-----------------------------+
only showing top 20 rows

In [10]:
#task13
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark=SparkSession.builder.appName('apli').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
# res=df.filter(df.title.like('%NT'))
res=df.filter(df.title.endswith("NT"))
res1=res.select('author','title')
res1.show(truncate=False)

+-----------------+-------------------+
|author           |title              |
+-----------------+-------------------+
|Patricia Cornwell|THE FRONT          |
|Patricia Cornwell|THE FRONT          |
|Patricia Cornwell|THE FRONT          |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|Daniel Silva     |THE SECRET SERVANT |
|P D James        |THE PRIVATE PATIENT|
|P D James        |THE PRIVATE PATIENT|
|P D James        |THE PRIVATE PATIENT|
|J A Jance        |CRUEL INTENT       |
|P D James        |THE PRIVATE PATIENT|
|P D James        |THE PRIVATE PATIENT|
|P D James        |THE PRIVATE PATIENT|
+-----------------+-------------------+

In [25]:
#task14
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, substring

# Initialize Spark session
spark = SparkSession.builder.appName("SubstringExtraction").getOrCreate()

# Create a DataFrame (Replace this with your DataFrame)
# data = [("John Doe",), ("Alice Smith",), ("Bob Johnson",)]
# columns = ["author"]
# df = spark.createDataFrame(data, columns)
df=spark.read.json('Dataframe_sql.json')

df = df.withColumn("title_1", substring(col("author"), 1, 3))
df = df.withColumn("title_2", substring(col("author"), 3, 6))
df = df.withColumn("title_3", substring(col("author"), 1, 6))
res=df.select("author","title_1","title_2","title_3")
# Show the resulting DataFrame
res.show(truncate=False)

+----------------------------------------+-------+-------+-------+
|author                                  |title_1|title_2|title_3|
+----------------------------------------+-------+-------+-------+
|Dean R Koontz                           |Dea    |an R K |Dean R |
|Stephenie Meyer                         |Ste    |epheni |Stephe |
|Emily Giffin                            |Emi    |ily Gi |Emily  |
|Patricia Cornwell                       |Pat    |tricia |Patric |
|Chuck Palahniuk                         |Chu    |uck Pa |Chuck  |
|James Patterson and Gabrielle Charbonnet|Jam    |mes Pa |James  |
|John Sandford                           |Joh    |hn San |John S |
|Jimmy Buffett                           |Jim    |mmy Bu |Jimmy  |
|Elizabeth George                        |Eli    |izabet |Elizab |
|David Baldacci                          |Dav    |vid Ba |David  |
|Troy Denning                            |Tro    |oy Den |Troy D |
|James Frey                              |Jam    |mes Fr |James  |
|Garth Stein                             |Gar    |rth St |Garth  |
|Debbie Macomber                         |Deb    |bbie M |Debbie |
|Jeff Shaara                             |Jef    |ff Sha |Jeff S |
|Phillip Margolin                        |Phi    |illip  |Philli |
|Jhumpa Lahiri                           |Jhu    |umpa L |Jhumpa |
|Joseph O'Neill                          |Jos    |seph O |Joseph |
|John Grisham                            |Joh    |hn Gri |John G |
|James Rollins                           |Jam    |mes Ro |James  |
+----------------------------------------+-------+-------+-------+
only showing top 20 rows

In [12]:
#task15
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.withColumn('new_col',lit('This is new column'))
res1=res.select(['author','title','new_col'])
res1.show()

+--------------------+--------------------+------------------+
|              author|               title|           new_col|
+--------------------+--------------------+------------------+
|       Dean R Koontz|           ODD HOURS|This is new column|
|     Stephenie Meyer|            THE HOST|This is new column|
|        Emily Giffin|LOVE THE ONE YOU'...|This is new column|
|   Patricia Cornwell|           THE FRONT|This is new column|
|     Chuck Palahniuk|               SNUFF|This is new column|
|James Patterson a...|SUNDAYS AT TIFFANY’S|This is new column|
|       John Sandford|        PHANTOM PREY|This is new column|
|       Jimmy Buffett|          SWINE NOT?|This is new column|
|    Elizabeth George|     CARELESS IN RED|This is new column|
|      David Baldacci|     THE WHOLE TRUTH|This is new column|
|        Troy Denning|          INVINCIBLE|This is new column|
|          James Frey|BRIGHT SHINY MORNING|This is new column|
|         Garth Stein|THE ART OF RACING...|This is new column|
|     Debbie Macomber|       TWENTY WISHES|This is new column|
|         Jeff Shaara|      THE STEEL WAVE|This is new column|
|    Phillip Margolin| EXECUTIVE PRIVILEGE|This is new column|
|       Jhumpa Lahiri|  UNACCUSTOMED EARTH|This is new column|
|      Joseph O'Neill|          NETHERLAND|This is new column|
|        John Grisham|          THE APPEAL|This is new column|
|       James Rollins|INDIANA JONES AND...|This is new column|
+--------------------+--------------------+------------------+
only showing top 20 rows

In [13]:
# task16
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('app').getOrCreate()
df=spark.read.json('Dataframe_sql.json')
res=df.withColumnRenamed('amazon_product_url','URL')
res1=res.select(['author','title','URL'])
res1.show()

+--------------------+--------------------+--------------------+
|              author|               title|                 URL|
+--------------------+--------------------+--------------------+
|       Dean R Koontz|           ODD HOURS|http://www.amazon...|
|     Stephenie Meyer|            THE HOST|http://www.amazon...|
|        Emily Giffin|LOVE THE ONE YOU'...|http://www.amazon...|
|   Patricia Cornwell|           THE FRONT|http://www.amazon...|
|     Chuck Palahniuk|               SNUFF|http://www.amazon...|
|James Patterson a...|SUNDAYS AT TIFFANY’S|http://www.amazon...|
|       John Sandford|        PHANTOM PREY|http://www.amazon...|
|       Jimmy Buffett|          SWINE NOT?|http://www.amazon...|
|    Elizabeth George|     CARELESS IN RED|http://www.amazon...|
|      David Baldacci|     THE WHOLE TRUTH|http://www.amazon...|
|        Troy Denning|          INVINCIBLE|http://www.amazon...|
|          James Frey|BRIGHT SHINY MORNING|http://www.amazon...|
|         Garth Stein|THE ART OF RACING...|http://www.amazon...|
|     Debbie Macomber|       TWENTY WISHES|http://www.amazon...|
|         Jeff Shaara|      THE STEEL WAVE|http://www.amazon...|
|    Phillip Margolin| EXECUTIVE PRIVILEGE|http://www.amazon...|
|       Jhumpa Lahiri|  UNACCUSTOMED EARTH|http://www.amazon...|
|      Joseph O'Neill|          NETHERLAND|http://www.amazon...|
|        John Grisham|          THE APPEAL|http://www.amazon...|
|       James Rollins|INDIANA JONES AND...|http://www.amazon...|
+--------------------+--------------------+--------------------+
only showing top 20 rows

In [17]:
#task17
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("RemoveColumn").getOrCreate()

# Read JSON data
df = spark.read.json("Dataframe_sql.json")

# Add a new column named 'new_column' with a constant value
df = df.withColumn("new_column", lit("This is a new column"))
res1=df.drop('new_column')
result = res1.select("author", "title")
result.show(truncate=False)

+----------------------------------------+--------------------------------------------------+
|author                                  |title                                             |
+----------------------------------------+--------------------------------------------------+
|Dean R Koontz                           |ODD HOURS                                         |
|Stephenie Meyer                         |THE HOST                                          |
|Emily Giffin                            |LOVE THE ONE YOU'RE WITH                          |
|Patricia Cornwell                       |THE FRONT                                         |
|Chuck Palahniuk                         |SNUFF                                             |
|James Patterson and Gabrielle Charbonnet|SUNDAYS AT TIFFANY’S                              |
|John Sandford                           |PHANTOM PREY                                      |
|Jimmy Buffett                           |SWINE NOT?                                        |
|Elizabeth George                        |CARELESS IN RED                                   |
|David Baldacci                          |THE WHOLE TRUTH                                   |
|Troy Denning                            |INVINCIBLE                                        |
|James Frey                              |BRIGHT SHINY MORNING                              |
|Garth Stein                             |THE ART OF RACING IN THE RAIN                     |
|Debbie Macomber                         |TWENTY WISHES                                     |
|Jeff Shaara                             |THE STEEL WAVE                                    |
|Phillip Margolin                        |EXECUTIVE PRIVILEGE                               |
|Jhumpa Lahiri                           |UNACCUSTOMED EARTH                                |
|Joseph O'Neill                          |NETHERLAND                                        |
|John Grisham                            |THE APPEAL                                        |
|James Rollins                           |INDIANA JONES AND THE KINGDOM OF THE CRYSTAL SKULL|
+----------------------------------------+--------------------------------------------------+
only showing top 20 rows

In [20]:
#task18
from pyspark.sql import SparkSession
from pyspark.sql.functions import count


# Initialize Spark session
spark = SparkSession.builder.appName("RemoveColumn").getOrCreate()

# Read JSON data
df = spark.read.json("Dataframe_sql.json")
res=df.groupBy('author').agg(count('*').alias('book_count'))
res.show(truncate=False)

+------------------+----------+
|author            |book_count|
+------------------+----------+
|James Frey        |2         |
|Elin Hilderbrand  |2         |
|Sharon Kay Penman |1         |
|Patricia Cornwell |14        |
|Andre Dubus       |1         |
|Terry Brooks      |4         |
|Daniel Silva      |7         |
|Jackie Collins    |3         |
|Linda Howard      |2         |
|Anne Perry        |1         |
|David Baldacci    |14        |
|E Annie Proulx    |1         |
|Dennis Lehane     |5         |
|Randy Wayne White |3         |
|Jonathan Kellerman|5         |
|Lauren Willig     |1         |
|Spencer Quinn     |2         |
|Anne Bishop       |1         |
|Christine Feehan  |3         |
|Anita Shreve      |4         |
+------------------+----------+
only showing top 20 rows

In [23]:
#task19
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

spark = SparkSession.builder.appName("FilterByTitle").getOrCreate()

df = spark.read.json("Dataframe_sql.json")

res1 = df.filter(df.title == "THE HOST")

result = res1.select("author", "title")
result.show(truncate=False)

+---------------+--------+
|author         |title   |
+---------------+--------+
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
|Stephenie Meyer|THE HOST|
+---------------+--------+
only showing top 20 rows

In [9]:
#task20
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DataFrameToRDD").getOrCreate()

data = [("John", 25), ("Alice", 30), ("Bob", 22)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

df.show()
rdd1 = df.rdd

# rdd1.foreach(print)
rdd_ele=rdd1.collect()
for i in rdd_ele:
    print(i)

+-----+---+
| Name|Age|
+-----+---+
| John| 25|
|Alice| 30|
|  Bob| 22|
+-----+---+

Row(Name='John', Age=25)
Row(Name='Alice', Age=30)
Row(Name='Bob', Age=22)

In [22]:
#task21
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("RDDToString").getOrCreate()

# Create an RDD (Replace this with your RDD)
data = ["Apple", "Banana", "Orange"]
rdd = spark.sparkContext.parallelize(data)
rdd_ele=rdd.collect()
rdd_type=type(rdd_ele[0])
for i in rdd_ele:
    print(i)
print('type of rdd is:',rdd_type)


# # Convert RDD to a comma-separated string
# rdd_as_string = ','.join(rdd.collect())

# # Display the result
# print(rdd_as_string)


# from pyspark.sql import SparkSession

# # Initialize Spark session
# spark = SparkSession.builder.appName("DataFrameToStringRDD").getOrCreate()

# # Create a sample DataFrame
# data = [("John", 25), ("Alice", 30), ("Bob", 22)]
# columns = ["Name", "Age"]
# df = spark.createDataFrame(data, columns)

# # Convert the DataFrame to an RDD of strings
# string_rdd = df.rdd.map(lambda row: ",".join(map(str, row)))

# # Display the RDD of strings
# # string_rdd.foreach(print)
# rdd_ele=string_rdd.collect()
# rdd_type=type(rdd_ele[0])
# for i in rdd_ele:
#     print(i)
# print('type of rdd ele is:',rdd_type)

Apple
Banana
Orange
type of rdd is: <class 'str'>

In [1]:
#task22
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("DataFrameToPandas").getOrCreate()

# Create a sample DataFrame
data = [("John", 25), ("Alice", 30), ("Bob", 22)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Convert PySpark DataFrame to Pandas DataFrame
pandas_df = df.toPandas()

# Display the Pandas DataFrame
print(pandas_df)

    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [61]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import sum


# Initialize Spark session
spark = SparkSession.builder.appName("Example").getOrCreate()

data = [
    ("James", "Sales", "NY", 90000, 34, 10000),
    ("Michael", "Sales", "NY", 86000, 56, 20000),
    ("Robert", "Sales", "CA", 81000, 30, 23000),
    ("Maria", "Finance", "CA", 90000, 24, 23000),
    ("Raman", "Finance", "CA", 99000, 40, 24000),
    ("Scott", "Finance", "NY", 83000, 36, 19000),
    ("Jen", "Finance", "NY", 79000, 53, 15000),
    ("Jeff", "Marketing", "CA", 80000, 25, 18000),
    ("Kumar", "Marketing", "NY", 91000, 50, 21000)
]

col = ["employee_name", "department", "state", "salary", "age", "bonus"]

df = spark.createDataFrame(data, col)

# Print the schema and show the DataFrame
df.printSchema()
df.show(truncate=False)
r=df.withColumn('salary',df.salary.cast('int'))
r.printSchema()
res=r.groupby('department','state').agg(sum('salary').alias('total_sal'))
res.show()
print()
res1=df.groupBy('department','state').sum('salary')
res1.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
|Raman        |Finance   |CA   |99000 |40 |24000|
|Scott        |Finance   |NY   |83000 |36 |19000|
|Jen          |Finance   |NY   |79000 |53 |15000|
|Jeff         |Marketing |CA   |80000 |25 |18000|
|Kumar        |Marketing |NY   |91000 |50 |21000|
+-------------+----------+-----+------+---+-----+

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+----------+-----+---------+
|department|state|total_sal|
+----------+-----+---------+
|     Sales|   NY|   176000|
|     Sales|   CA|    81000|
|   Finance|   CA|   189000|
|   Finance|   NY|   162000|
| Marketing|   NY|    91000|
| Marketing|   CA|    80000|
+----------+-----+---------+


+----------+-----+-----------+
|department|state|sum(salary)|
+----------+-----+-----------+
|     Sales|   NY|     176000|
|     Sales|   CA|      81000|
|   Finance|   CA|     189000|
|   Finance|   NY|     162000|
| Marketing|   NY|      91000|
| Marketing|   CA|      80000|
+----------+-----+-----------+

In [81]:
#using udf
from pyspark.sql import SparkSession
from pyspark.sql.functions import col as spark_col,udf
from pyspark.sql.types import StringType


spark=SparkSession.builder.appName('apli').getOrCreate()
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]
col=["id","Name"]
df=spark.createDataFrame(data,col)
df.show()
# def fun(str):
#     res=''
#     a=str.split()
#     for i in a:
#         res+=i[0:1].upper()+i[1:len(i)]
#     return res
def fun1(name):
    res=' '.join(i.capitalize() for i in name.split())
    return res
convert_udf=udf(fun1)
res=df.select(spark_col('id'),convert_udf(spark_col('name')).alias('convertedname'))
res.show()

+---+------------+
| id|        Name|
+---+------------+
|  1|  john jones|
|  2|tracey smith|
|  3| amy sanders|
+---+------------+

+---+-------------+
| id|convertedname|
+---+-------------+
|  1|   John Jones|
|  2| Tracey Smith|
|  3|  Amy Sanders|
+---+-------------+

In [85]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col as spark_col, udf
from pyspark.sql.types import StringType

spark = SparkSession.builder.appName('apli').getOrCreate()

data = [("1", "john jones"),
        ("2", "tracey smith"),
        ("3", "amy sanders")]

columns = ["id", "Name"]
df = spark.createDataFrame(data, columns)
df.show()

# Rename the 'col' variable to avoid conflict with pyspark.sql.functions.col
def fun(name):
    return ' '.join(word.capitalize() for word in name.split())

convert_udf = udf(fun, StringType())
# res = df.select(spark_col('id'), convert_udf(spark_col('Name')).alias('ConvertedName'))
res=df.select(df.id,convert_udf(df.Name).alias('convertedname'))


res.show()

+---+------------+
| id|        Name|
+---+------------+
|  1|  john jones|
|  2|tracey smith|
|  3| amy sanders|
+---+------------+

+---+-------------+
| id|convertedname|
+---+-------------+
|  1|   John Jones|
|  2| Tracey Smith|
|  3|  Amy Sanders|
+---+-------------+

In [94]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col as spark_col,udf,upper
spark=SparkSession.builder.appName('app').getOrCreate()
data = [("1", "john jones"),
    ("2", "tracey smith"),
    ("3", "amy sanders")]
col=["id","Name"]
df=spark.createDataFrame(data,col)
df.show(truncate=False)
def fun(name):
    res=' '.join(i.capitalize() for i in name.split())
    return res
create_udf=udf(fun)
res=df.select(spark_col('id'),create_udf(spark_col('Name')).alias('updated_name'))
res.show()
res1=df.select(df.id,upper(df.Name))
res1.show()

+---+------------+
|id |Name        |
+---+------------+
|1  |john jones  |
|2  |tracey smith|
|3  |amy sanders |
+---+------------+

+---+------------+
| id|updated_name|
+---+------------+
|  1|  John Jones|
|  2|Tracey Smith|
|  3| Amy Sanders|
+---+------------+

+---+------------+
| id| upper(Name)|
+---+------------+
|  1|  JOHN JONES|
|  2|TRACEY SMITH|
|  3| AMY SANDERS|
+---+------------+

In [116]:
#fillna
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
df=spark.read.csv('small_zipcode.csv',header=True,)
df.show()
# df.na.fill(value=0).show()
res=df.na.fill('0',['city'])
res.show()
res.printSchema()

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|               NULL|   PR|     30100|
|  2|    704|    NULL|PASEO COSTA DEL SUR|   PR|      NULL|
|  3|    709|    NULL|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|               NULL|   TX|      NULL|
+---+-------+--------+-------------------+-----+----------+

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|                  0|   PR|     30100|
|  2|    704|    NULL|PASEO COSTA DEL SUR|   PR|      NULL|
|  3|    709|    NULL|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|                  0|   TX|      NULL|
+---+-------+--------+-------------------+-----+----------+

root
 |-- id: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- type: string (nullable = true)
 |-- city: string (nullable = false)
 |-- state: string (nullable = true)
 |-- population: string (nullable = true)

In [118]:
# pivot
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data = [("Banana",1000,"USA"), ("Carrots",1500,"USA"), ("Beans",1600,"USA"), \
      ("Orange",2000,"USA"),("Orange",2000,"USA"),("Banana",400,"China"), \
      ("Carrots",1200,"China"),("Beans",1500,"China"),("Orange",4000,"China"), \
      ("Banana",2000,"Canada"),("Carrots",2000,"Canada"),("Beans",2000,"Mexico")]

col= ["Product","Amount","Country"]
df=spark.createDataFrame(data,col)
df.show()
res=df.groupBy('Country').pivot('Product').sum('Amount')
res.show()

+-------+------+-------+
|Product|Amount|Country|
+-------+------+-------+
| Banana|  1000|    USA|
|Carrots|  1500|    USA|
|  Beans|  1600|    USA|
| Orange|  2000|    USA|
| Orange|  2000|    USA|
| Banana|   400|  China|
|Carrots|  1200|  China|
|  Beans|  1500|  China|
| Orange|  4000|  China|
| Banana|  2000| Canada|
|Carrots|  2000| Canada|
|  Beans|  2000| Mexico|
+-------+------+-------+

+-------+------+-----+-------+------+
|Country|Banana|Beans|Carrots|Orange|
+-------+------+-----+-------+------+
|  China|   400| 1500|   1200|  4000|
|    USA|  1000| 1600|   1500|  4000|
| Mexico|  NULL| 2000|   NULL|  NULL|
| Canada|  2000| NULL|   2000|  NULL|
+-------+------+-----+-------+------+

In [129]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,countDistinct

# Initialize Spark session
spark = SparkSession.builder.appName("PivotWithDuplicates").getOrCreate()

# Sample DataFrame with duplicates
data = [("Alice", "Math", 90),
        ("Bob", "Math", 85),
        ("Alice", "Math", 88),  # Duplicate entry for Alice and Math
        ("Bob", "Physics", 92)]

columns = ["Student", "Subject", "Score"]
df = spark.createDataFrame(data, columns)

# Aggregation (e.g., taking the average score for duplicates)
aggregated_df = df.groupBy("Student", "Subject").agg({"Score": "avg"})
aggregated_df.show()
# Pivoting after aggregation
pivot_df = aggregated_df.groupBy("Student").pivot("Subject").agg({"avg(Score)": "first"})

# Show the pivoted DataFrame
pivot_df.show()
pivot_df.printSchema()
res=pivot_df.fillna(0)
res.show()
res1=df.select(countDistinct('Subject'))
res1.show()

+-------+-------+----------+
|Student|Subject|avg(Score)|
+-------+-------+----------+
|  Alice|   Math|      89.0|
|    Bob|   Math|      85.0|
|    Bob|Physics|      92.0|
+-------+-------+----------+

+-------+----+-------+
|Student|Math|Physics|
+-------+----+-------+
|    Bob|85.0|   92.0|
|  Alice|89.0|   NULL|
+-------+----+-------+

root
 |-- Student: string (nullable = true)
 |-- Math: double (nullable = true)
 |-- Physics: double (nullable = true)

+-------+----+-------+
|Student|Math|Physics|
+-------+----+-------+
|    Bob|85.0|   92.0|
|  Alice|89.0|    0.0|
+-------+----+-------+

+-----------------------+
|count(DISTINCT Subject)|
+-----------------------+
|                      2|
+-----------------------+

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql import *

spark=SparkSession.builder.appName('myapli').master('local[0]').getOrCreate()
data=[("Alice", 30, "Sales", 5000),
        ("Bob", 25, "Marketing", 7000),
        ("Charlie", 35, "Sales", 6000),
        ("David", 28, "Marketing", 8000)]
col=['name','age','dept','sal']
df=spark.createDataFrame(data,col)
df.show()
res=df.rdd
res.collect()

+-------+---+---------+----+
|   name|age|     dept| sal|
+-------+---+---------+----+
|  Alice| 30|    Sales|5000|
|    Bob| 25|Marketing|7000|
|Charlie| 35|    Sales|6000|
|  David| 28|Marketing|8000|
+-------+---+---------+----+

[Row(name='Alice', age=30, dept='Sales', sal=5000),
 Row(name='Bob', age=25, dept='Marketing', sal=7000),
 Row(name='Charlie', age=35, dept='Sales', sal=6000),
 Row(name='David', age=28, dept='Marketing', sal=8000)]

In [16]:

from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType, StructField, StringType, IntegerType


# Create a SparkSession
spark = SparkSession.builder.appName("Dataset Example").getOrCreate()

# Define a schema for the dataset
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("age", IntegerType(), True)
])

# Create a list of Row objects with the specified schema
data = [
    Row(id=1, name="Alice", age=25),
    Row(id=2, name="Bob", age=30),
    Row(id=3, name="Charlie", age=35)
]

# Create a DataFrame from the list of Row objects and apply the schema
df = spark.createDataFrame(data, schema=schema)

# Convert DataFrame to Dataset
dataset = df.alias('man')

# Perform transformations and actions on the Dataset
# filtered_dataset = dataset.filter(dataset.age > 30)
# selected_dataset = filtered_dataset.select("name")

# # Show the result
# selected_dataset.show()

# # Stop the SparkSession
# spark.stop()
dataset.show()
dataset.explain('extended')

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 25|
|  2|    Bob| 30|
|  3|Charlie| 35|
+---+-------+---+

== Parsed Logical Plan ==
SubqueryAlias man
+- LogicalRDD [id#141, name#142, age#143], false

== Analyzed Logical Plan ==
id: int, name: string, age: int
SubqueryAlias man
+- LogicalRDD [id#141, name#142, age#143], false

== Optimized Logical Plan ==
LogicalRDD [id#141, name#142, age#143], false

== Physical Plan ==
*(1) Scan ExistingRDD[id#141,name#142,age#143]

In [28]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

data = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ 
    StructField("firstname",StringType(),True), 
    StructField("middlename",StringType(),True), 
    StructField("lastname",StringType(),True), 
    StructField("id", StringType(), True), 
    StructField("gender", StringType(), True), 
    StructField("salary", IntegerType(), True) 
  ])
 
df = spark.createDataFrame(data=data,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [110]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
spark=SparkSession.builder.appName('apli').getOrCreate()
data=[('man',23,'m'),
      ('ram',22,'m'),
      ('shami',25,'f')]

schema=StructType([
    StructField('name',StringType(),True),
    StructField('age',IntegerType(),True),
    StructField('gender',StringType(),True)])
df=spark.createDataFrame(data,schema=schema)
df.show()
df.printSchema()
# df=df.withColumn('age',df['age'].cast(StringType()))
# df=df.withColumn('age',df['age'].astype(StringType()))
df=df.withColumn('age',df['age'].cast('string'))
df.show()
df.printSchema()

+-----+---+------+
| name|age|gender|
+-----+---+------+
|  man| 23|     m|
|  ram| 22|     m|
|shami| 25|     f|
+-----+---+------+

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)

+-----+---+------+
| name|age|gender|
+-----+---+------+
|  man| 23|     m|
|  ram| 22|     m|
|shami| 25|     f|
+-----+---+------+

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)

In [44]:
#converting dataframe to pandas in pyspark
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate=False)
res=pysparkDF.toPandas()
print(res)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

In [55]:
#from rdd to df
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[(1,'man',23),
      (2,'ram',24),
      (3,'sham',25)]
rdd=spark.sparkContext.parallelize(data)
rdd.collect()
df=rdd.toDF(['id','name','age'])
df.show()
df.printSchema()

+---+----+---+
| id|name|age|
+---+----+---+
|  1| man| 23|
|  2| ram| 24|
|  3|sham| 25|
+---+----+---+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [62]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James",23),("Ann",40)]
col=['name','age']

df=spark.createDataFrame(data,col).toDF('name','age')
df1=spark.createDataFrame(data).toDF('name','age')

df.show()
df1.show()

+-----+---+
| name|age|
+-----+---+
|James| 23|
|  Ann| 40|
+-----+---+

+-----+---+
| name|age|
+-----+---+
|James| 23|
|  Ann| 40|
+-----+---+

In [69]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
spark=SparkSession.builder.appName('api').getOrCreate()
data=[Row(name='ram',prop=Row(hair='black',eye='blue')),
      Row(name='sham',prop=Row(hair='blue',eye='green'))]
df=spark.createDataFrame(data)
df.select(df.prop.hair).show()

+---------+
|prop.hair|
+---------+
|    black|
|     blue|
+---------+

In [74]:
# todf and alias
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[(1,2,3),(4,5,6)]
df=spark.createDataFrame(data).toDF('col1','col2','col3')
df.show()
df.select((df.col1+df.col2).alias('sum')).show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   1|   2|   3|
|   4|   5|   6|
+----+----+----+

+---+
|sum|
+---+
|  3|
|  9|
+---+

In [79]:
# contains and between
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James jos",23),("Ann",40)]
df=spark.createDataFrame(data).toDF('name','age')
df.show()
res=df.filter(df.name.contains('jos'))
res.show()
df.where(df.age.between(30,45)).show()

+---------+---+
|     name|age|
+---------+---+
|James jos| 23|
|      Ann| 40|
+---------+---+

+---------+---+
|     name|age|
+---------+---+
|James jos| 23|
+---------+---+

+----+---+
|name|age|
+----+---+
| Ann| 40|
+----+---+

In [80]:
# endswith
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James jos",23),("Ann",40),(" sk",19)]
df=spark.createDataFrame(data).toDF('name','age')
df.show()
df.filter(df.name.endswith('jos')).show()

+---------+---+
|     name|age|
+---------+---+
|James jos| 23|
|      Ann| 40|
+---------+---+

+---------+---+
|     name|age|
+---------+---+
|James jos| 23|
+---------+---+

In [88]:
# isnot null
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James"," jos",23),("Ann"," ",40),("sk"," ",19)]
df=spark.createDataFrame(data).toDF('fname','lname','age')
df.show()
df.filter(df.lname.isNotNull()).show()

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|  Ann|     | 40|
|   sk|     | 19|
+-----+-----+---+

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|  Ann|     | 40|
|   sk|     | 19|
+-----+-----+---+

In [94]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James"," jos",23),("Ann"," ",40),("sk"," ",19)]
df=spark.createDataFrame(data).toDF('fname','lname','age')
df.show()
ag=[19,23]
df.filter(df.age.isin(ag)).show()
df.select(df.fname,df.lname).show()
df.select('*').show()

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|  Ann|     | 40|
|   sk|     | 19|
+-----+-----+---+

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|   sk|     | 19|
+-----+-----+---+

+-----+-----+
|fname|lname|
+-----+-----+
|James|  jos|
|  Ann|     |
|   sk|     |
+-----+-----+

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|  Ann|     | 40|
|   sk|     | 19|
+-----+-----+---+

In [128]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit

spark=SparkSession.builder.appName('api').getOrCreate()
data=[("James"," jos",23),("Ann"," ",40),("sk"," ",19)]
df=spark.createDataFrame(data).toDF('fname','lname','age')
df.show()
df.select(df.columns[:2]).show(2)
res=df.withColumn('updated_age',df.age*10)
res.show()
res1=res.withColumnRenamed('updated_age','new_age')
res1.show(truncate=False)

+-----+-----+---+
|fname|lname|age|
+-----+-----+---+
|James|  jos| 23|
|  Ann|     | 40|
|   sk|     | 19|
+-----+-----+---+

+-----+-----+
|fname|lname|
+-----+-----+
|James|  jos|
|  Ann|     |
+-----+-----+
only showing top 2 rows

+-----+-----+---+-----------+
|fname|lname|age|updated_age|
+-----+-----+---+-----------+
|James|  jos| 23|        230|
|  Ann|     | 40|        400|
|   sk|     | 19|        190|
+-----+-----+---+-----------+

+-----+-----+---+-------+
|fname|lname|age|new_age|
+-----+-----+---+-------+
|James| jos |23 |230    |
|Ann  |     |40 |400    |
|sk   |     |19 |190    |
+-----+-----+---+-------+

In [134]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr

# Create SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)
res=df.distinct().count()
print(res)

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

9

In [141]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[1]") \
    .appName("SparkByExamples.com") \
    .getOrCreate()

filePath="small_zipcode.csv"
df = spark.read.options(header='true', inferSchema='true') \
          .csv(filePath)

df.printSchema()
df.show(truncate=False)
df.na.fill('0','city').show()

root
 |-- id: integer (nullable = true)
 |-- zipcode: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- population: integer (nullable = true)

+---+-------+--------+-------------------+-----+----------+
|id |zipcode|type    |city               |state|population|
+---+-------+--------+-------------------+-----+----------+
|1  |704    |STANDARD|NULL               |PR   |30100     |
|2  |704    |NULL    |PASEO COSTA DEL SUR|PR   |NULL      |
|3  |709    |NULL    |BDA SAN LUIS       |PR   |3700      |
|4  |76166  |UNIQUE  |CINGULAR WIRELESS  |TX   |84000     |
|5  |76177  |STANDARD|NULL               |TX   |NULL      |
+---+-------+--------+-------------------+-----+----------+

+---+-------+--------+-------------------+-----+----------+
| id|zipcode|    type|               city|state|population|
+---+-------+--------+-------------------+-----+----------+
|  1|    704|STANDARD|                  0|   PR|     30100|
|  2|    704|    NULL|PASEO COSTA DEL SUR|   PR|      NULL|
|  3|    709|    NULL|       BDA SAN LUIS|   PR|      3700|
|  4|  76166|  UNIQUE|  CINGULAR WIRELESS|   TX|     84000|
|  5|  76177|STANDARD|                  0|   TX|      NULL|
+---+-------+--------+-------------------+-----+----------+

In [147]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

columns = ["name","gender","salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()
res=df.withColumn('new_gender',when(df.gender=='M','male')
                              .when(df.gender=='F','female')
                               .when(df.gender.isNull(),"")
                               .otherwise(df.gender)
                 )
res.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  NULL|400000|
|  Maria|     F|500000|
|    Jen|      |  NULL|
+-------+------+------+

+-------+------+------+----------+
|   name|gender|salary|new_gender|
+-------+------+------+----------+
|  James|     M| 60000|      male|
|Michael|     M| 70000|      male|
| Robert|  NULL|400000|          |
|  Maria|     F|500000|    female|
|    Jen|      |  NULL|          |
+-------+------+------+----------+

In [149]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when,col
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","M",60000),("Michael","M",70000),
        ("Robert",None,400000),("Maria","F",500000),
        ("Jen","",None)]

columns = ["name","gender","salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()
res=df.select(col('*'),when(df.gender=='M','male')
                              .when(df.gender=='F','female')
                               .when(df.gender.isNull(),"")
                               .otherwise(df.gender).alias('newer_one')
             )
res.show()

+-------+------+------+
|   name|gender|salary|
+-------+------+------+
|  James|     M| 60000|
|Michael|     M| 70000|
| Robert|  NULL|400000|
|  Maria|     F|500000|
|    Jen|      |  NULL|
+-------+------+------+

+-------+------+------+---------+
|   name|gender|salary|newer_one|
+-------+------+------+---------+
|  James|     M| 60000|     male|
|Michael|     M| 70000|     male|
| Robert|  NULL|400000|         |
|  Maria|     F|500000|   female|
|    Jen|      |  NULL|         |
+-------+------+------+---------+

In [158]:
from pyspark.sql.functions import expr
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('api').getOrCreate()
data = [("James","M"),("Michael","F"),("Jen","")]
columns = ["name","gender"]
df = spark.createDataFrame(data = data, schema = columns)
df.show()
res=df.withColumn('new_gender',expr("CASE WHEN gender=='M' THEN 'male' "+
                                     "WHEN gender=='F' THEN 'female' ELSE 'unknown' END "))

res.show()

+-------+------+
|   name|gender|
+-------+------+
|  James|     M|
|Michael|     F|
|    Jen|      |
+-------+------+

+-------+------+----------+
|   name|gender|new_gender|
+-------+------+----------+
|  James|     M|      male|
|Michael|     F|    female|
|    Jen|      |   unknown|
+-------+------+----------+

In [162]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split

spark = SparkSession.builder \
         .appName('SparkByExamples.com') \
         .getOrCreate()

data = [("James, A, Smith","2018","M",3000),
            ("Michael, Rose, Jones","2010","M",4000),
            ("Robert,K,Williams","2010","M",4000),
            ("Maria,Anne,Jones","2005","F",4000),
            ("Jen,Mary,Brown","2010","",-1)
            ]

columns=["name","dob_year","gender","salary"]
df=spark.createDataFrame(data,columns)
df.show()
res=df.select(split(df.name,',').alias('new_name'))
res.show(truncate=False)

+--------------------+--------+------+------+
|                name|dob_year|gender|salary|
+--------------------+--------+------+------+
|     James, A, Smith|    2018|     M|  3000|
|Michael, Rose, Jones|    2010|     M|  4000|
|   Robert,K,Williams|    2010|     M|  4000|
|    Maria,Anne,Jones|    2005|     F|  4000|
|      Jen,Mary,Brown|    2010|      |    -1|
+--------------------+--------+------+------+

+------------------------+
|new_name                |
+------------------------+
|[James,  A,  Smith]     |
|[Michael,  Rose,  Jones]|
|[Robert, K, Williams]   |
|[Maria, Anne, Jones]    |
|[Jen, Mary, Brown]      |
+------------------------+

In [186]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr,replace

# Create a SparkSession
spark = SparkSession.builder.appName("ReplaceSubstringExample").getOrCreate()

# Sample data
data = [(1, "14851 Jeffrey Road", "DE"),
        (2, "43421 Margarita St", "NY"),
        (3, "13111 Siemon Ave", "CA")]

# Create a DataFrame
columns = ["id", "address", "state"]
df = spark.createDataFrame(data, columns)
# res=df.replace('address','my_address')
# res.show()
# res=df.withColumn('address',when(endsWith((df.address),'Road'),'manmith').otherwise(df.address))
res=df.replace('14851 Jeffrey Road','manmitj','address')
res.show()

+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|           manmitj|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+

In [172]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, when

# Create a SparkSession
spark = SparkSession.builder.appName("ReplaceSubstringExample").getOrCreate()

# Sample data
data = [(1, "14851 Jeffrey Road", "DE"),
        (2, "43421 Margarita St", "NY"),
        (3, "13111 Siemon Ave", "CA")]

# Create a DataFrame
columns = ["id", "address", "state"]
df = spark.createDataFrame(data, columns)

# Show the original DataFrame
print("Original DataFrame:")
df.show()

# Replace "Road" with "Manmith" in the "address" column using when and otherwise
df_replaced = df.withColumn("address", when(col("address").contains("Road"), "Manmith").otherwise(col("address")))

# Show the DataFrame after replacing the substring
print("\nDataFrame after replacing 'Road' with 'Manmith':")
df_replaced.show()

# Stop the SparkSession
spark.stop()

Original DataFrame:
+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|14851 Jeffrey Road|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+


DataFrame after replacing 'Road' with 'Manmith':
+---+------------------+-----+
| id|           address|state|
+---+------------------+-----+
|  1|           Manmith|   DE|
|  2|43421 Margarita St|   NY|
|  3|  13111 Siemon Ave|   CA|
+---+------------------+-----+

In [191]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# Create a SparkSession
spark = SparkSession.builder.appName("ReplaceSubstringExample").getOrCreate()

# Sample data
data = [(1, "14851 Jeffrey Road", "DE"),
        (2, "43421 Margarita St", "NY"),
        (3, "13111 Siemon Ave", "CA")]

# Create a DataFrame
columns = ["id", "address", "state"]
df = spark.createDataFrame(data, columns)
res=df.withColumn('address',regexp_replace('address','Road','manmith'))
res.show(truncate=False)

+---+---------------------+-----+
|id |address              |state|
+---+---------------------+-----+
|1  |14851 Jeffrey manmith|DE   |
|2  |43421 Margarita St   |NY   |
|3  |13111 Siemon Ave     |CA   |
+---+---------------------+-----+

In [200]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import countDistinct,count

spark = SparkSession.builder \
         .appName('SparkByExamples.com') \
         .getOrCreate()

data = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
columns = ["Name","Dept","Salary"]
df=spark.createDataFrame(data,columns)
df.show()
res=df.distinct()
res.count()
res1=df.select(count('*'),countDistinct('*').alias('distinctcount'))
res1.show()

+-------+---------+------+
|   Name|     Dept|Salary|
+-------+---------+------+
|  James|    Sales|  3000|
|Michael|    Sales|  4600|
| Robert|    Sales|  4100|
|  Maria|  Finance|  3000|
|  James|    Sales|  3000|
|  Scott|  Finance|  3300|
|    Jen|  Finance|  3900|
|   Jeff|Marketing|  3000|
|  Kumar|Marketing|  2000|
|   Saif|    Sales|  4100|
+-------+---------+------+

+--------+-------------+
|count(1)|distinctcount|
+--------+-------------+
|      10|            9|
+--------+-------------+

In [201]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a SparkSession
spark = SparkSession.builder.appName("DatasetExample").getOrCreate()

# Sample data
data = [(1, "Alice", 25),
        (2, "Bob", 30),
        (3, "Charlie", 35)]

# Define a case class representing the schema
class Person:
    def __init__(self, id, name, age):
        self.id = id
        self.name = name
        self.age = age

# Create a Dataset from the sample data and the case class
dataset = spark.createDataFrame(data, ["id", "name", "age"]).as[Person]

# Show the original Dataset
print("Original Dataset:")
dataset.show()

# Filter the Dataset to select persons with age greater than 30
filtered_dataset = dataset.filter(col("age") > 30)

# Show the filtered Dataset
print("\nFiltered Dataset (persons with age > 30):")
filtered_dataset.show()

# Stop the SparkSession
spark.stop()

SyntaxError: invalid syntax (994281860.py, line 20)

In [7]:
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Sample data with duplicates
data = [("John", "Doe", 28),
        ("Jane", "Doe", 22),
        ("Bob", "Smith", 35),
        ("Jane", "Doe", 22),
        ("John", "Doe", 28)]

# Define schema
columns = ["FirstName", "LastName", "Age"]
df = spark.createDataFrame(data, columns)

# Show the original DataFrame
print("Original DataFrame:")
df.show()
# res=df.drop_duplicates()
res=df.dropDuplicates()
res.show()
res1=res.select('FirstName',df.LastName.alias('manmith'),'Age')
res1.show()

Original DataFrame:
+---------+--------+---+
|FirstName|LastName|Age|
+---------+--------+---+
|     John|     Doe| 28|
|     Jane|     Doe| 22|
|      Bob|   Smith| 35|
|     Jane|     Doe| 22|
|     John|     Doe| 28|
+---------+--------+---+

+---------+--------+---+
|FirstName|LastName|Age|
+---------+--------+---+
|     John|     Doe| 28|
|     Jane|     Doe| 22|
|      Bob|   Smith| 35|
+---------+--------+---+

+---------+-------+---+
|FirstName|manmith|Age|
+---------+-------+---+
|     John|    Doe| 28|
|     Jane|    Doe| 22|
|      Bob|  Smith| 35|
+---------+-------+---+

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import min as pyspark_min, max as pyspark_max

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Sample DataFrame
data = [("Alice", 25, 160.5),
        ("Bob", 30, 175.2),
        ("Charlie", 35, 180.0)]

columns = ["Name", "Age", "Height"]

df = spark.createDataFrame(data, columns)

# Identify integer columns
integer_columns = [col_name for col_name, col_type in df.dtypes if isinstance(df[col_name].schema, IntegerType)]

# Perform min and max operations for each integer column
min_max_operations = {col_name: [pyspark_min(col_name).alias("min"), pyspark_max(col_name).alias("max")] for col_name in integer_columns}

# Apply the aggregation
result = df.agg(min_max_operations)

# Show the result
result.show()

++
||
++
||
++